<div class="profile-popover bottom-30">
  <div class="profile-header">
  </div>
  <div class="profile-header-clear" style="height: 30px;margin: 0px 0px 0px 0px;">
  </div>
  <div class="profile-body" style="margin: 0px 5px;">
    <i (click)="close()" class="fa fa-times-circle"
      style="right: 0px;position: absolute;top: 0;font-size: 2em;padding: 2px;"></i>

    <a style="background-color: white; color: black;font-size: 16px;"
      class="profile-button button shadow-large button-m button-round uppercase bolder button-center-large">REGALOS</a>

    <div *ngIf="!isAdmin && points > 0" class="content contact-message top-20" style="margin: 0px 0px 0px 0px;">
      <div class="content content-box round-small" style="padding: 5px;margin: 0px 0px 0px 0px;">
        <h1 class="center-text bolder top-10" style="color: red;font-size: 1.2em;margin-bottom: 0px;line-height: 15px;">
          Tienes <b style="font-weight: bolder;">{{ points }}</b> puntos!</h1>
        <p class="center-text bottom-10" style="font-size: 1.2em;color: black;padding-top: 10px;">
          Redimelos y disfruta de los fabulosos regalos que tenemos para ti
        </p>
      </div>
    </div>

    <div *ngIf="!isAdmin && points <= 0" class="content contact-message top-20" style="margin: 0px 0px 0px 0px;">
      <div class="content content-box round-small" style="padding: 5px;margin: 0px 0px 0px 0px;">
        <h1 class="center-text bolder top-10" style="color: red;font-size: 1.2em;margin-bottom: 0px;line-height: 15px;">
          No tienes puntos</h1>
      </div>
    </div>

    <div *ngIf="isAdmin" class="content contact-message top-20" style="margin: 0px 0px 0px 0px;background-color: yellow;">
      <div class="content content-box round-small shadow-large" style="padding: 5px;margin: 0px 0px 0px 0px;">
        <span class="center-text bolder" style="color: black;margin-bottom: 0px;line-height: 15px;">
          Recuerda que por cada <b style="font-weight: bolder;">$500</b> pesos que el cliente invierte en una compra, se le da <b style="font-weight: bolder;">1 punto</b> (1 Punto ~ $500)
        </span>
      </div>
    </div>

    <!-- <p>Puntos acumulados: 2.000</p>
    <p>A continuacion vas a ver una lista de regalos con sus respectivos puntos</p> -->
    <div class="content" style="margin: 0px 0px 0px 0px;">
      <div class="top-10">
        <table>
          <tr *ngIf="isAdmin">
            <td colspan="2" style="text-align: right;">
              <a (click)="openProductCreatePage()" *ngIf="isAdmin"
                style="text-align: end;background-color: red;margin-bottom: 0px;"
                class="button button-round-small button-s">+ Regalo</a>
            </td>
          </tr>

          <tr *ngIf="searchingProducts">
            <td colspan="2" style="text-align: center;">
              <div>
                <div class="store-slide-2" *ngFor="let item of [1,2,3,4,5,6]">
                  <a class="store-slide-image">
                    <ion-skeleton-text animated style="height: 50px; top:-10px" class="round-medium">
                    </ion-skeleton-text>
                  </a>
                  <div class="store-slide-title">
                    <strong>
                      <ion-skeleton-text animated style="width: 100%" class="round-medium"></ion-skeleton-text>
                    </strong>
                    <em class="color-gray2-dark">
                      <ion-skeleton-text animated style="width: 100%" class="round-medium"></ion-skeleton-text>
                    </em>
                  </div>
                </div>
              </div>
            </td>
          </tr>

          <tr *ngIf="productSearchHits == 0">
            <td colspan="2" style="text-align: center;">
              <div class="boxed-text-huge">
                <label style="color: red;padding-top: 20px;font-size: 1.2em;">No se
                  encontraron regalos</label>
              </div>
            </td>
          </tr>

          <tr *ngFor="let product of products | async; let i = index">
            <td style="vertical-align: top;width: 120px;text-align: left;">
              <img (click)="openImageViewer(product)" class="round-small preload-image {{(product?.soldOut)?'sold-out':'' }}" src="{{product?.image?product.image:'../../../assets/icon/no-image.png'}}" alt="img"
                style="height: 100px;width: 100px;">
            </td>
            <td>
              <table>
                <tr>
                  <td colspan="2" style="text-align: left;padding: 0px 0px 10px 0px;"> <span
                      style="font-weight: 700;color: black;" class="{{(product?.soldOut)?'sold-out':'' }}">{{product.name}}</span>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: left;padding: 0px 0px 10px 0px;">
                    <span style="font-size: 1em;font-weight: 700;" class="color-highlight {{(product?.soldOut)?'sold-out':'' }}">PUNTOS:</span>
                  </td>
                  <td colspan="2" style="text-align: right;padding: 0px 0px 10px 0px;">
                    <span style="font-size: 1.2em;font-weight: 700;" class="color-highlight {{(product?.soldOut)?'sold-out':'' }}">{{product.price}}</span>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" style="text-align: right;padding: 0px 0px 0px 0px;">
                    <a *ngIf="isAdmin" (click)="presentDeleteProductPrompt(product)"
                      class="icon icon-s icon-round shadow-small">
                      <i class="fa fa-trash" style="color: black"></i></a>
                    <a *ngIf="isAdmin" (click)="openProductUpdatePage(product)"
                      class="icon icon-s icon-round shadow-small">
                      <i class="fa fa-edit" style="color: black"></i>
                    </a>

                    <a (click)="addToCart($event, product)" *ngIf="(!isAdmin && !product?.soldOut) && product?.price <= points" style="color:white;"
                      class="button button-round-small shadow-large bg-highlight button-full button-s">
                      RECLAMAR</a>
                  </td>
                </tr>
                <tr *ngIf="isAdmin">
                  <td colspan="3" style="padding: 0px 0px 0px 0px;">
                    <ion-list style="padding-top: 0px;">
                      <ion-item style="text-align: -webkit-right;">
                        <ion-label style="color: gray;font-size: medium;">Activo</ion-label>
                        <ion-toggle (ionChange)="productSoldOut($event, product)" mode="ios" slot="start"
                          name="blueberry" checked="{{(product?.soldOut)?'false':'true' }}"></ion-toggle>
                      </ion-item>
                    </ion-list>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- <ion-toolbar style="font-size: 18px;">
      <ion-title>
        <a (click)="close()"
          style="background-color: white;color:black;font-size: 15px;font-weight: bold;padding: 12px;height: 50px;margin: 10px 15px 10px 15px;padding-top: 15px;"
          class="button button-round-small shadow-large button-full button-s">Cerrar</a>
      </ion-title>
    </ion-toolbar> -->
  </div>
</div>