<ion-header style="background-color: white;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <i class="fa fa-arrow-left" style="color: black;font-size: 1.2em;"></i>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="presentMenuNotifications($event)" class="menu-notifications">
        <span style="font-size: 1em; color: black;">
          <i class="fa fa-bell" style="font-size: 1.2em"></i>
          <ion-badge *ngIf="(appService.notificationsCount | async) > 0" id="badge-notifications" color="danger"
            slot="end">{{appService.notificationsCount | async}}</ion-badge>
        </span>

      </ion-button>
      <ion-button (click)="presentMenuUser($event)">
        <span style="font-size: 1em; color: black;">
          <i class="fa fa-user" style="font-size: 1.2em"></i>
        </span>
      </ion-button>
    </ion-buttons>

    <ion-title style="font-size: medium;">
      <a routerLink="/home" class="header-title ultrabold"><span style="color: red;">COPA</span>CITY</a>
    </ion-title>
  </ion-toolbar>

  <!-- Left Side Menu Only To Big Browsers -->
  <div id="main-menu-large">
    <ion-header>
      <ion-toolbar *ngIf="appService?.currentUser">
        <div class="content top-30">
          <div class="user-slider owl-carousel  bottom-0">
            <div class="user-list-left">
              <img
                [src]="this.appService.currentUser?.photoUrl?this.appService.currentUser?.photoUrl:'../../../assets/icon/no-image.png'"
                alt="img" class="shadow-small">
              <h4 style="top: -15px;">{{appService.currentUser?.name}}</h4>
              <a routerLink="/profile" class="next-slide-user" style="top: 70px;background-color: red;">VER PERFIL</a>
            </div>
          </div>
        </div>
      </ion-toolbar>
      <div *ngIf="!appService?.currentUser" style="padding-bottom: 1px;">
        <a (click)="SignIn()"
          style="background-color: red;color:white;font-size: 15px;font-weight: bold;padding: 12px;height: 50px;margin: 10px 15px 10px 15px;padding-top: 15px;"
          class="button button-round-small button-full button-s">INICIAR SESION</a>
      </div>
    </ion-header>

    <ion-content class="side-content">
      <ion-list>
        <ion-item style="padding: 3px;" routerLink="/home">
          <i class="fa fa-home"></i>
          <ion-label style="padding-left:10px">Inicio</ion-label>
        </ion-item>
        <ion-item style="padding: 3px;" *ngIf="appService?.currentUser" routerLink="/order-list">
          <i style="padding-left: 5px;" class="fa fa-clipboard-list"></i>
          <ion-label style="padding-left:15px">Mis Pedidos</ion-label>
        </ion-item>
        <!-- <ion-item style="padding: 3px;" *ngIf="appService?.currentUser && appService?.currentUser.isAdmin"
          routerLink="/store/{{ appService._userStoreId }}">
          <i class="fa fa-store"></i>
          <ion-label style="padding-left:10px">Mi Tienda</ion-label>
        </ion-item> -->
        <ion-item style="padding: 3px;" routerLink="/contact">
          <i class="fa fa-paper-plane"></i>
          <ion-label style="padding-left:10px">Mensajes</ion-label>
        </ion-item>
        <!-- <ion-item style="padding: 3px;">
          <i class="fa fa-info-circle"></i>
          <ion-label style="padding-left:10px">Acerca de</ion-label>
        </ion-item> -->
        <ion-item style="padding: 3px;cursor: pointer;" *ngIf="appService?.currentUser" (click)="signOut()">
          <i class="fa fa-sign-out-alt"></i>
          <ion-label style="padding-left:10px">Cerrar Sesion</ion-label>
        </ion-item>
      </ion-list>
      <ion-toolbar style="padding-top: 30px;">
        <div class="footer" style="padding: 8px 8px 8px 8px;">

          <div class="user-list-left" style="text-align: -webkit-center;padding-bottom: 15px;">
            <img src="../assets/icon/favicon.png" alt="img" class="shadow-small" style="width: 60px;">
          </div>

          <a class="nav-title color-theme" style="font-size: 20px;padding: 0px 0px 0px 0px;"><span
              style="color: red;">COPA</span>CITY</a>
          <p class="footer-text" style="margin-bottom: 10px;padding: 0px 0px 0px 0px;">Tu Centro Comercial Virtual</p>

          <div class="footer-socials" style="padding-left: 20px;">
            <a href="{{ appService._appInfo?.facebook }}" class="round-tiny shadow-medium bg-facebook"><i
                class="fab fa-facebook-f"></i></a>
            <a href="tel:{{ appService._appInfo?.phone }}" class="round-tiny shadow-medium bg-phone"><i
                class="fa fa-phone"></i></a>
            <a href="https://wa.me/57{{ appService._appInfo?.whatsapp }}" class="icon icon-round icon-s bg-whatsapp"><i
                class="fab fa-whatsapp"></i></a>
            <a (click)="shareApp($event)" data-menu="menu-share" class="round-tiny shadow-medium bg-red2-dark"><i
                class="fa fa-share-alt"></i></a>
          </div>
          <p style="margin-bottom: 10px;padding: 0px 0px 0px 0px;" class="footer-text"><b>Version</b>
            {{ appService.appVersion }}
          </p>
          <p style="margin: 0px;margin-bottom: 10px;padding: 0px 0px 0px 0px;" class="footer-copyright">Copyright
            &copy; Enabled <span id="copyright-year">2020</span>.
            All Rights Reserved.
          </p>
        </div>
      </ion-toolbar>
    </ion-content>
  </div>

  <!-- Right Side Menu Only To Big Browsers -->
  <div id="main-menu-large-right">
    <ion-header>
      <ion-toolbar>
        <ion-title style="text-align: center;">
          <h4 style="top: -15px;padding-left: 10px;font-weight: 700;">Notificaciones</h4>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="side-content">
      <app-menu-notifications></app-menu-notifications>
    </ion-content>
  </div>
</ion-header>

<super-tabs [config]="{ sideMenu: 'left', allowElementScroll: true }">
  <super-tabs-container>
    <super-tab style="background-color: transparent;">
      <div style="text-align: -webkit-center;">
        <div class="content contact-message" style="padding-top: 15px;margin: 0px 15px 0px 15px;max-width: 450px;">
          <div class="content content-box round-small shadow-large"
            style="padding: 5px;background-color: white;margin: 0px 0px 0px 0px;">
            <h1 class="center-text bolder top-10" style="color: red;">{{store?.name}}</h1>
            <p class="center-text bottom-10" style="font-size: 15px;color: black;">
              Que bien! Solo faltan algunos detalles que te presentamos a continuación para terminar de hacer tu pedido,
              Gracias por usar nuestro servicio!.
            </p>
          </div>
        </div>
      </div>
      <div class="profile-1" style="top: -10px;">
        <div class="profile-header" style="background-color: transparent;"></div>
        <div class="profile-header-clear" style="height: 40px;"></div>
        <div class="profile-body" style="border-radius:15px;margin: 0px 5px;padding-bottom: 20px;">

          <a style="background-color: white; color: black;font-size: 15px; border-radius:15px;border: double;border-color: red;"
            class="profile-button button shadow-large button-m button-round uppercase bolder button-center-medium">CUPONES</a>

          <a (click)="openBarCodeScanner()"
            style="right: 0px;position: absolute;top: 0;font-size: 2em;font-size: 1.2em;padding: 5px;font-weight: bold;margin: 2px;"
            class="color-highlight">
            <i class="fa fa-qrcode"></i>&nbsp;QR</a>

          <div id="page" class="top-10">
            <div class="content header-clear-small" style="margin: 0px 0px 0px 0px;">
              <table class="table-borders bottom-10" style="font-size: 1.2em;">
                <tr>
                  <td colspan="2" style="vertical-align: top; text-align: center;padding: 0px 0px 0px 0px;">
                    <a (click)="openStoreCouponsPage()" style="padding: 8px 8px;border: dotted;"
                      class="button button-round-small button-full button-s color-highlight"> <i class="fa fa-cut"
                        style="font-size: 1.5em;"></i> Ver Cupones Virtuales</a>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align: top;text-align: left;margin: 10px;padding: 0px 0px 0px 0px;">
                    <div class="input-style has-icon input-style-1 input-required">
                      <i class="input-icon fa fa-ticket-alt" style="margin-top: 16px;"></i>
                      <span>Código de cupón:</span>
                      <input [formControl]="couponCode" style="font-size: 1.2em;" type="name"
                        placeholder="Código de cupón">
                    </div>
                  </td>
                  <td>
                    <i *ngIf="couponCode.value && !storeCoupon" (click)="clearCouponCode()" class="fa fa-times-circle"
                      style="color: red;font-size: 1.2em;"></i>
                    <i *ngIf="couponCode.value && storeCoupon" class="fa fa-check-circle"
                      style="color: green;font-size: 1.2em;"></i>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align: top; text-align: -webkit-left;padding: 10px 0px 0px 0px;">
                    <span *ngIf="storeCoupon" style="color: green;font-weight: bold;">Cupón Válido!!</span>
                  </td>
                  <td style="vertical-align: top; text-align: -webkit-right;;padding: 10px 0px 0px 0px;">
                    <a (click)="validateCoupon_click()"
                      style="color:white;padding: 8px 8px;width: 75px; background-color: red;"
                      class="button button-round-small button-full button-s">Aplicar</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-1" style="top: -45px;">
        <div class="profile-header" style="background-color: transparent;"></div>
        <div class="profile-header-clear" style="height: 40px;"></div>
        <div class="profile-body" style="border-radius:15px;margin: 0px 5px;padding-bottom: 20px;">

          <a style="background-color: white; color: black;font-size: 15px; border-radius:15px;border: double;border-color: red;"
            class="profile-button button shadow-large button-m button-round uppercase bolder button-center-large">METODO
            DE ENVIO</a>

          <div id="page">
            <div class="content header-clear-small bottom-20" style="margin: 0px 0px 0px 0px;">
              <ion-list lines="full" class="ion-no-margin ion-no-padding">

                <ion-item>
                  <ion-label style="color: gray;">Selecciona: <b style="color: red;">(*)</b></ion-label>
                  <ion-select (ionChange)="shippingMethodChanged($event)" style="padding-right: 10px;" mode="ios"
                    cancelText="Cancelar" okText="Aceptar" interface='action-sheet'>
                    <ion-select-option *ngFor="let shippingMethod of shippingMethods | async;"
                      value="{{shippingMethod.id}}">
                      {{shippingMethod.name}}</ion-select-option>
                  </ion-select>
                </ion-item>

                <div *ngIf="shippingMethod" style="text-align: -webkit-center;">
                  <div class="content contact-message"
                    style="padding-top: 15px;margin: 0px 15px 0px 15px;max-width: 450px;">
                    <div class="content content-box round-small bottom-20"
                      style="padding: 5px;background-color: lightgoldenrodyellow;margin: 0px 0px 0px 0px;">
                      <p class="center-text bottom-10" style="font-size: 15px;color: black;">
                        El servicio de <b>{{shippingMethod?.name}}</b> tiene un costo de
                        <b>{{ shippingMethod?.price | currency: 'USD': 'symbol' : '1.0-0' }} pesos</b> y un plazo de
                        entrega de <b>{{ shippingMethod?.limitDays }} dias</b> a partir de la fecha en que se realizo el
                        pedido.
                        {{ shippingMethod?.description }}.
                        <span *ngIf="shippingMethod?.addressRequired"> Por favor ingrese la direccion de entrega:</span>
                      </p>
                    </div>
                  </div>
                </div>
              </ion-list>

              <div *ngIf="shippingMethod && shippingMethod.addressRequired" class="link-list link-list-3"
                style="border: red;">
                <a (click)="openAddressListPage()" class="round-small shadow-tiny">
                  <i style="font-size: 1.5em;color: black;top: 25px;" class="fa fa-map-marker-alt"></i>
                  <strong style="font-size: 1.5em;padding-top: 10px;color: red;">Dirección:</strong>
                  <span
                    style="font-size: 1.5em;padding-top: 20px;color: black;">{{appService.addressChecked?.address}}</span>
                  <i style="font-size: 1.5em;color: red;top: 25px;" class="fa fa-long-arrow-alt-right"></i>
                </a>
                <strong *ngIf="!appService.addressChecked"
                  style="font-size: 1.2em;padding-top: 20px;color: red;font-weight: bold;padding-bottom: 15px;padding-left: 0px;">Por
                  favor seleccione una
                  direccion!</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-1" style="top: -80px;">
        <div class="profile-header" style="background-color: transparent;"></div>
        <div class="profile-header-clear" style="height: 40px;"></div>
        <div class="profile-body" style="border-radius:15px;margin: 0px 5px;padding-bottom: 20px;">

          <a style="background-color: white; color: black;font-size: 15px; border-radius:15px;border: double;border-color: red;"
            class="profile-button button shadow-large button-m button-round uppercase bolder button-center-large">METODO
            DE PAGO</a>

          <div id="page">
            <div class="content header-clear-small bottom-20" style="margin: 0px 0px 0px 0px;">
              <ion-list lines="full" class="ion-no-margin ion-no-padding">

                <ion-item>
                  <ion-label style="color: gray;">Selecciona: <b style="color: red;">(*)</b></ion-label>
                  <ion-select (ionChange)="paymentMethodChanged($event)" style="padding-right: 10px;" mode="ios"
                    cancelText="Cancelar" okText="Aceptar" interface='action-sheet' value="{{ paymentMethod?.id }}">
                    <ion-select-option *ngFor="let paymentMethodbyShipping of paymentsMethodbyShipping "
                      value="{{paymentMethodbyShipping.id}}">
                      {{paymentMethodbyShipping.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>

              <div *ngIf="paymentMethod && paymentMethod?.description" style="text-align: -webkit-center;">
                <div class="content contact-message"
                  style="padding-top: 15px;margin: 0px 15px 0px 15px;max-width: 450px;">
                  <div class="content content-box round-small bottom-20"
                    style="padding: 5px;background-color: lightgoldenrodyellow;margin: 0px 0px 0px 0px;">
                    <p class="center-text bottom-10" style="font-size: 15px;color: black;">
                      <b>{{paymentMethod?.name}}:</b> {{paymentMethod?.description}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-1" style="top: -115px;">
        <div class="profile-header" style="background-color: transparent;"></div>
        <div class="profile-header-clear" style="height: 40px;"></div>
        <div class="profile-body" style="border-radius:15px;margin: 0px 5px;padding-bottom: 20px;">

          <a style="background-color: white; color: black;font-size: 15px; border-radius:15px;border: double;border-color: red;"
            class="profile-button button shadow-large button-m button-round uppercase bolder button-center-medium">FACTURA</a>

          <div id="page">
            <div class="content header-clear-small" style="margin: 0px 0px 0px 0px;">
              <table class="table-borders" style="font-size: 18px;">
                <tr>
                  <th style="text-align: left; padding-left: 5px;">Producto</th>
                  <th style="text-align: right;">V/U</th>
                  <th style="text-align: right;" style="width: 20px;">#</th>
                  <th style="text-align: right;">Total</th>
                </tr>
                <tr *ngFor="let cartProduct of cart;">
                  <td style="text-align: left; padding-left: 5px;vertical-align: top">{{cartProduct.product.name}}
                    <span *ngFor="let property of cartProduct.propertiesSelection;"
                      style="font-size: .7em;font-weight: 700;color: blue;">, {{property.propertyName }}:
                      {{property.propertyOptionName }}
                    </span>

                    <span *ngIf="cartProduct.product?.discount && cartProduct.product?.discount > 0"
                      style="font-size: .7em;font-weight: 700;color: black;background-color: yellow;">
                      (-{{cartProduct.product.discount}}%)</span>

                    <span *ngIf="cartProduct.product?.isGift"
                      style="font-size: .7em;font-weight: 700;color: black;background-color: yellow;">🎁 REGALO!
                      🥳🎉</span>
                  </td>
                  <td style="vertical-align: top;text-align: right;" class="color-green1-dark">
                    {{ ((!cartProduct.product?.isGift)? (cartService.getProductSubTotalUnity(cartProduct)):0) | currency: 'USD' : 'symbol' : '1.0-0'}}
                  </td>
                  <td style="vertical-align: top">{{cartProduct.quantity}}</td>
                  <td style="vertical-align: top; text-align: right;" class="color-green1-dark">
                    {{ ((!cartProduct.product?.isGift)? (cartService.getProductTotal(cartProduct)):0) | currency: 'USD' : 'symbol' : '1.0-0'}}
                  </td>
                </tr>
                <tr *ngIf="storeCoupon">
                  <td colspan="3"
                    style="text-align: left; padding-left: 5px;vertical-align: top;background-color: yellow;">
                    <strong style="color: black">Cupón
                      <small style="color: black; background-color: yellow;">(-{{storeCoupon.discount}}%)</small>
                    </strong>
                  </td>
                  <td style="vertical-align: top; text-align: right;background-color: yellow;">
                    <span style="color: black;">
                      -{{ (cartService.getTotal() * (storeCoupon.discount/100))  | currency: 'USD' : 'symbol' : '1.0-0' }}</span>
                  </td>
                </tr>
              </table>
              <div style="margin: 10px 15px 5px 15px;font-size: 18px;">

                <div class="store-cart-total">
                  <strong>Envío</strong>
                  <span>{{ (shippingMethod?shippingMethod.price:0) | currency: 'USD' : 'symbol' : '1.0-0'}}</span>
                  <div class="clear"></div>
                </div>
                <div class="store-cart-total">
                  <strong class="color-highlight">Ahorro</strong>
                  <span class="color-highlight">
                    {{ cartService.getDiscount() + ((storeCoupon)?(cartService.getTotal() * (storeCoupon.discount/100)):0) | currency: 'USD' : 'symbol' : '1.0-0' }}</span>
                  <div class="clear"></div>
                </div>
                <div class="store-cart-total">
                  <strong style="color: red;">IVA <small>(Incluido)</small></strong>
                  <span>{{ ((cartService.getTotal() - ((storeCoupon)?(cartService.getTotal() * (storeCoupon.discount/100)):0)) * (appService._appInfo.tax/100 )) | currency: 'USD' : 'symbol' : '1.0-0' }}</span>
                  <div class="clear"></div>
                </div>
                <div style="background-color: red;" class="divider opacity-350"></div>
                <div class="store-cart-total bottom-20" style="font-size: 25px;">
                  <strong class="uppercase bold">Total</strong>
                  <span
                    class="uppercase bold">{{ (cartService.getTotal()) + (shippingMethod?shippingMethod.price:0) - ((storeCoupon)?(cartService.getTotal() * (storeCoupon.discount/100)):0) | currency: 'USD' : 'symbol' : '1.0-0'}}</span>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-1 bottom-20" style="top: -150px;">
        <div class="profile-header" style="background-color: transparent;"></div>
        <div class="profile-header-clear" style="height: 40px;"></div>
        <div class="profile-body" style="border-radius:15px;margin: 0px 5px;">
          <a style="background-color: white; color: black;font-size: 15px; border-radius:15px;border: double;border-color: red;"
            class="profile-button button shadow-large button-m button-round uppercase bolder button-center-large">QUIEN
            TE ASESORO?</a>

          <div id="page">
            <div class="content header-clear-small bottom-40" style="margin: 0px 0px 0px 0px;">

              <ion-list lines="full" class="ion-no-margin ion-no-padding">
                <ion-item>
                  <ion-label>Selecciona:</ion-label>
                  <ion-select [formControl]="idVendor" style="padding-right: 10px;" mode="ios" cancelText="Cancelar" okText="Okay!"
                    interface='action-sheet'>
                    <ion-select-option value="1">Compra Directa a la tienda</ion-select-option>
                    <ion-select-option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-1 bottom-20" style="top: -204px;">
        <div class="profile-header" style="background-color: transparent;"></div>
        <div class="profile-header-clear" style="height: 40px;"></div>
        <div class="profile-body" style="border-radius:15px;margin: 0px 5px;">
          <a style="background-color: white; color: black;font-size: 15px; border-radius:15px;border: double;border-color: red;"
            class="profile-button button shadow-large button-m button-round uppercase bolder button-center-medium">FINALIZAR</a>

          <div id="page">
            <div class="content header-clear-small" style="margin: 0px 0px 0px 0px;">
              <div>
                <div class="link-list link-list-3">
                  <ion-list>
                    <ion-item>
                      <ion-label position="floating" style="color: gray;">Agrega una nota:<small style="color: gray;">
                          ({{messageToStore.value.length}}/500)</small></ion-label>
                      <ion-textarea [formControl]="messageToStore"></ion-textarea>
                    </ion-item>
                  </ion-list>

                  <div>
                    <p style="color: red;font-size: 1.3em;" *ngIf="messageToStore.errors">
                      <span style="padding-left: 20px;color: red;" *ngIf="messageToStore.hasError('maxlength')">El
                        mensaje debe ser maximo de 500
                        caracteres</span>
                    </p>
                  </div>

                  <a (click)="sendOrder()"
                    style="color:white;background-color: red;font-size: 15px;font-weight: bold;padding: 12px;height: 50px;margin: 10px 15px 10px 15px;padding-top: 15px;"
                    class="button button-round-small shadow-large button-full button-s">Hacer Pedido</a>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </super-tab>
  </super-tabs-container>
</super-tabs>