<div class="profile-popover bottom-30">
  <div class="profile-header">
  </div>
  <div class="profile-header-clear" style="height: 30px;margin: 0px 0px 0px 0px;">
  </div>
  <div class="profile-body" style="margin: 0px 5px;">
    <i (click)="close()" class="fa fa-times-circle"
      style="right: 0px;position: absolute;top: 0;font-size: 2em;padding: 2px;"></i>

    <a style="background-color: white; color: black;font-size: 20px;"
      class="profile-button button shadow-large button-m button-round uppercase bolder button-center-large">Nuevo
      Producto</a>

    <form [formGroup]="form">
      <ion-slides *ngIf="imgURL.length != 0" #sliderImageProductCreate [options]="slideOpts" pager="true"
        style="padding-top: 20px;">
        <ion-slide *ngFor="let img of imgURL">
          <img class="round-medium" [src]="img" alt="img">
          <em (click)="removeProductImage(img)" class="round-small" style="margin: 5px;position: absolute;background-color: white;font-weight: bold;font-size: 1.2em;
                  top: 0px;right: 0px">
            <i class="fa fa-times-circle" style="margin: 5px;color: black;font-size: 1.5em;"></i></em>
        </ion-slide>
      </ion-slides>

      <img *ngIf="imgURL.length == 0" class="profile-image-product preload-image"
        src="../../../assets/icon/no-image.png" alt="img">

      <!-- <div class="under-slider-button" style="z-index: 100;padding-left: 8px;text-align: center;"> -->
      <div class="cta-socials" style="padding-left: 20px;padding-top: 10px;">
        <a class="icon icon-s icon-round shadow-small" style="background-color: white;">
          <label for="file-upload-product-create">
            <i class="fa fa-upload" style="color: black;"></i> <a>Subir Imagen</a>
          </label>
          <input (change)="uploadFileCreateProduct($event)" id="file-upload-product-create" type="file" />
        </a>
      </div>
      <!-- </div> -->

      <div class="content header-clear-small">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="floating" style="color: gray;">Nombre del producto <b style="color: red;">(*)</b>
            </ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="color: gray;">Sección: <b style="color: red;">(*)</b></ion-label>
            <ion-select style="padding-right: 10px;" mode="ios" formControlName="category" cancelText="Cancelar"
              okText="Okay!" interface="action-sheet">
              <ion-select-option *ngFor="let productCategory of productCategories | async;"
                value="{{productCategory.id}}">
                {{productCategory.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color: gray;">Precio! <b style="color: red;">(*)</b>
            </ion-label>
            <ion-input formControlName="price" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="color: gray;">Descuento:</ion-label>
            <ion-select style="padding-right: 10px;" mode="ios" cancelText="Cancelar" formControlName="discount"
              okText="Okay!" interface='action-sheet'>
              <ion-select-option value="{{number}}" *ngFor="let number of getNumbers()">{{number}}%
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color: gray;">Descripcion <small style="color: gray;">
                ({{this.form.get('description').value.length}}/500)</small></ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
          </ion-item>
        </ion-list>
      </div>
    </form>

    <table class="table-borders-dark store-product-table" style="border: solid 1px rgba(0,0,0,0.08);">
      <tr>
        <td colspan="2" style="text-align: left;">
          <h4 class="bold" style="color: black;margin-top: 0px;">Caracteristicas</h4>
        </td>
        <td style="text-align: -webkit-right;padding-right: 5px;">
          <a (click)="openProductProperty($event)" class="button button-round-small button-xs button-full"
            style="color: white;background-color: red;font-size: 10px;width: 90px;">Agregar</a>
        </td>
      </tr>
      <tr *ngIf="productProperties.length == 0">
        <td  colspan="3">
          <span style="color: red;font-size: 1.3em;">No hay caractiristicas agregadas</span>
        </td>
      </tr>
      
      <tr *ngFor="let productProperty of productProperties" class="{{productProperty.deleted?'hidden':''}}">
        <td style="vertical-align: top;" class="bold color-theme">{{productProperty.name}}<span *ngIf="productProperty.isMandatory" style="color: red;">(*)</span></td>
        <td style="vertical-align: top;">
          <div *ngFor="let productPropertyOption of productProperty.productPropertyOptions" class="{{productPropertyOption.deleted?'hidden':''}}">
            {{productPropertyOption.name}}<b *ngIf="(productPropertyOption.price || productPropertyOption.price != 0)">+{{productPropertyOption.price | currency: 'USD' : 'symbol' : '1.0-0' }}</b>
            <br/>
          </div>
          
        </td>
        <td style="width: 130px;vertical-align: top;padding-right: 5px;text-align: right;padding-right: 5px;">
          <a (click)="productPropertyDelete(productProperty)" class="icon icon-s icon-round shadow-small">
            <i class="fa fa-trash" style="color: black"></i></a>
          <a (click)="productPropertyUpdate(productProperty)" class="icon icon-s icon-round shadow-small">
            <i class="fa fa-edit" style="color: black"></i></a>
        </td>
      </tr>
    </table>

    <ion-toolbar>
      <ion-title>
        <div *ngIf="(!form.valid && form.touched)" style="margin: 15px;"
          class="content content-box  round-small shadow-large">
          <p style="color: red;font-size: 1.3em;" *ngIf="form.get('name').errors">
            <span *ngIf="form.get('name').hasError('required')">Nombre es requerido</span>
            <span *ngIf="form.get('name').hasError('maxlength')">Nombre debe ser maximo de 30
              caracteres</span>
          </p>
          <p style="color: red;font-size: 1.3em;" *ngIf="form.get('category').errors">
            <span *ngIf="form.get('category').hasError('required')">Sección es requerido</span>
          </p>
          <p style="color: red;font-size: 1.3em;" *ngIf="form.get('price').errors">
            <span *ngIf="form.get('price').hasError('required')">Precio es requerido</span>
          </p>
          <p style="color: red;font-size: 1.3em;" *ngIf="form.get('description').errors">
            <span *ngIf="form.get('description').hasError('required')">Descripcion es requerido</span>
            <span *ngIf="form.get('description').hasError('maxlength')">Descripcion debe ser maximo de 500
              caracteres</span>
          </p>
        </div>
        
        <a (click)="createProduct()"
          style="background-color: red;color:white;font-size: 15px;font-weight: bold;padding: 12px;height: 50px;margin: 10px 15px 10px 15px;padding-top: 15px;"
          class="button button-round-small shadow-large button-full button-s">CREAR PRODUCTO!</a>
      </ion-title>
    </ion-toolbar>
  </div>
</div>