<ion-header class="ion-no-border">
  <div class="header header-fixed header-logo-app">
    <ion-menu-toggle><a routerLink="/app/home" class="header-title ultrabold font-15" style="top: -2px;"><span
          class="color-highlight">{{appService?._appInfo?.name1}}</span>{{appService?._appInfo?.name2}}</a>
    </ion-menu-toggle>
    <a class="header-icon header-icon-1" (click)="back()">
      <i class="fas fa-arrow-left"></i>
    </a>
    <a class="header-icon header-icon-2" (click)="menuService.presentMenuUser($event)"><i class="fa fa-user"></i></a>
    <a (click)="menuService.presentMenuNotifications($event)" class="header-icon header-icon-3"><i
        class="fa fa-bell"></i>
      <ion-badge *ngIf="(appService.notificationsCount | async) > 0" id="badge-notifications" color="danger" slot="end">
        {{appService.notificationsCount | async}}</ion-badge>
    </a>
    <a #cartHome class="header-icon header-icon-4" (click)="menuService.openCart($event)"><i
        class="fa fa-shopping-cart"></i>
      <ion-badge *ngIf="cartManagerService.getTotalCount() > 0" id="badge-cart" color="danger" slot="end">
        {{ cartManagerService.getTotalCount() }}</ion-badge>
    </a>
    <a class="header-icon header-icon-5" (click)="menuService.openSearchPage($event)"><i class="fa fa-search"></i></a>
    <a class="header-icon header-icon-6" data-toggle-theme><i class="fa fa-moon"></i></a>
  </div>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefreshMain($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="Buscando actualizaciones...">
    </ion-refresher-content>
  </ion-refresher>
  <div id="page">
    <div class="page-content" style="box-shadow: none;">
      <div class="profile-1" y style="z-index: 9;">
        <div class="profile-body menuLeft" style="margin: 0px 5px;padding: 30px 0px;">

          <a (click)="shareStore($event)" style="border-radius:10px;"
            class="profile-button-none menuLeft button button-m button-round uppercase bolder button-center-medium">
            <h5 class="bolder" style="margin-bottom: 0px;">Contacto</h5>
          </a>

          <div class="content top-30">
            <div class="contact-form">
              <!-- <div class="formSuccessMessageWrap" id="formSuccessMessageWrap">
                <div class="bg-green1-dark">
                  <div class="notification-icon"><i class="fa fa-check notification-icon"></i></div>
                  <h1 class="uppercase ultrabold">Message sent</h1>
                  <p>We'll get back to you in the shorts possible time.</p>
                  <a href="#" class="close-notification"><i class="fa fa-times"></i></a>
                </div>
              </div> -->
              <form [formGroup]="form">
                <fieldset>
                  <div class="form-field form-name">
                    <label class="contactNameField color-theme" for="contactNameField">Nombre:<span>(*)</span></label>
                    <input formControlName="userName" type="text" name="contactNameField" value=""
                      class="contactField requiredField" id="contactNameField" />
                  </div>
                  <div class="form-field form-email">
                    <label class="contactEmailField color-theme" for="contactEmailField">Correo:
                      <span>(*)</span></label>
                    <input formControlName="userEmail" type="text" name="contactEmailField" value=""
                      class="contactField requiredField requiredEmailField" id="contactEmailField" />
                  </div>
                  <div class="form-field form-name">
                    <label class="contactNameField color-theme" for="contactNameField">Motivo:</label>
                    <div class="input-style input-style-1 input-required">
                      <em><i class="fa fa-angle-down"></i></em>
                      <select formControlName="idType" style="font-size: .9em;">
                        <option value="-1">Seleccionar</option>
                        <option value="1">Petición</option>
                        <option value="2">Queja</option>
                        <option value="3">Reclamo</option>
                        <option value="4">Sugerencia</option>
                        <option value="5">Felicitación</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-field form-text">
                    <label class="contactMessageTextarea color-theme" for="contactMessageTextarea">Mensaje:
                      <span>({{this.form.get('message').value.length}}/500)</span></label>
                    <textarea formControlName="message" name="contactMessageTextarea"
                      class="contactTextarea requiredField" id="contactMessageTextarea"></textarea>
                  </div>
                  <div *ngIf="(!form.valid && form.touched)" style="margin: 15px;">
                    <p style="color: red;margin-bottom: 0px;" *ngIf="form.get('userName').errors">
                      <span *ngIf="form.get('userName').hasError('required')">Nombre es requerido</span>
                    </p>
                    <p style="color: red;margin-bottom: 0px;" *ngIf="form.get('userEmail').errors">
                      <span *ngIf="form.get('userEmail').hasError('required')">Email es requerido</span>
                    </p>
                    <p style="color: red;margin-bottom: 0px;" *ngIf="form.get('idType').errors">
                      <span *ngIf="form.get('idType').hasError('required')">Motivo es requerido</span>
                    </p>
                    <p style="color: red;margin-bottom: 0px;" *ngIf="form.get('message').errors">
                      <span *ngIf="form.get('message').hasError('required')">Mensaje es requerido</span>
                      <span *ngIf="form.get('message').hasError('maxlength')">Mensaje debe ser máximo de 500
                        caracteres</span>
                    </p>
                  </div>
                  <div class="form-button">
                    <input (click)="sendMessage()"
                      class="button bg-highlight button-m button-full round-tiny contactSubmitButton"
                      value="Enviar Mensaje" data-formId="contactForm" />
                  </div>
                </fieldset>
              </form>
            </div>

            <div class="divider"></div>

            <div class="contact-information last-column">
              <div class="container no-bottom">
                <h2 class="bolder bottom-10">Contacto</h2>
                <div class="link-list link-list-1">
                  <a href="tel:{{ appService._appInfo?.phone }}">
                    <i class="fa fa-phone color-green1-dark"></i>
                    <span>{{ appService._appInfo?.phone }}</span>
                    <em class="bg-highlight">Llamar</em>
                    <i class="fa fa-angle-right"></i>
                  </a>
                  <!-- <a href="mailto:mail@domain.com">
                    <i class="fa fa-envelope color-blue2-dark"></i>
                    <span>mail@domain.com</span>
                    <em class="bg-highlight">correo</em>
                    <i class="fa fa-angle-right"></i>
                  </a> -->
                  <a href="{{ appService._appInfo?.facebook }}">
                    <i class="fab fa-facebook color-facebook"></i>
                    <span>{{ appService._appInfo?.facebook }}</span>
                    <i class="fa fa-link"></i>
                  </a>
                  <!-- <a href="#">
                    <i class="fab fa-twitter color-twitter"></i>
                    <span>@iEnabled</span>
                    <i class="fa fa-link"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin color-linkedin"></i>
                    <span>@Enabled</span>
                    <i class="fa fa-link"></i>
                  </a> -->
                </div>
              </div>
            </div>
          </div>

          <div class="footer" style="box-shadow:none;padding: 0px 30px 10px 30px;">
            <div class="user-list-left" style="text-align: -webkit-center;padding-bottom: 15px;">
              <img src="../assets/icon/favicon.png" alt="img" style="width: 80px;">
            </div>
            <a class="footer-title"><span
                class="color-highlight">{{appService?._appInfo?.name1}}</span>{{appService?._appInfo?.name2}}</a>
            <p class="footer-text" style="padding-top: 10px;margin-bottom: 15px;">Tu Centro
              Comercial Virtual</p>
            <div class="footer-socials" style="padding-left: 24px;">
              <a href="{{ appService._appInfo?.facebook }}" class="round-tiny shadow-medium bg-facebook"><i
                  class="fab fa-facebook-f"></i></a>
              <a href="tel:{{ appService._appInfo?.phone }}" class="round-tiny shadow-medium bg-phone"><i
                  class="fa fa-phone"></i></a>
              <a href="https://wa.me/57{{ appService._appInfo?.whatsapp }}"
                class="icon icon-round icon-s bg-whatsapp"><i class="fab fa-whatsapp"></i></a>
              <a data-menu="menu-share" (click)="shareApp($event)" class="round-tiny shadow-medium bg-red2-dark"><i
                  class="fa fa-share-alt"></i></a>
              <div class="clear"></div>
            </div>

            <p class="footer-copyright">Copyright &copy; Maothinks <span class="copyright-year">2021</span>.
              All Rights
              Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>