<ion-header class="ion-header" style="background-color:white">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <i class="fa fa-arrow-left" style="color: black;font-size: 1.2em;"></i>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="presentMenuNotifications($event)" class="notifications-icon">
        <span style="font-size: 1em; color: black;">
          <i class="fa fa-bell" style="font-size: 1.2em"></i>
          <ion-badge *ngIf="(appService.notificationsCount | async) > 0" id="badge-notifications" color="danger"
            slot="end">{{appService.notificationsCount | async}}</ion-badge>
        </span>
      </ion-button>
      <ion-button (click)="presentMenuUser($event)">
        <span style="font-size: 1em; color: black;">
          <i class="fa fa-user" style="font-size: 1.2em"></i>
        </span>
      </ion-button>
      <ion-button (click)="shareApp($event)">
        <i class="fa fa-share-alt" style="font-size: 1.2em; color: black;"></i>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <a routerLink="/home" class="header-title bold"><span style="color: red;">COPA</span>CITY</a>
    </ion-title>
  </ion-toolbar>

  <!-- Left Side Menu Only To Big Browsers -->
  <div id="main-menu-large">
    <ion-header>
      <ion-toolbar *ngIf="appService?.currentUser">
        <div class="content top-30">
          <div class="user-slider owl-carousel  bottom-0">
            <div class="user-list-left">
              <img
                [src]="this.appService.currentUser?.photoUrl?this.appService.currentUser?.photoUrl:'../../../assets/icon/no-image.png'"
                alt="img" class="shadow-small">
              <h4 style="top: -15px;">{{appService.currentUser?.name}}</h4>
              <a routerLink="/profile" class="next-slide-user" style="top: 70px;background-color: red;">VER PERFIL</a>
            </div>
          </div>
        </div>
      </ion-toolbar>
      <div *ngIf="!appService?.currentUser" style="padding-bottom: 1px;">
        <a (click)="SignIn()"
            style="background-color: red;color:white;font-size: 15px;font-weight: bold;padding: 12px;height: 50px;margin: 10px 15px 10px 15px;padding-top: 15px;"
            class="button button-round-small button-full button-s">INICIAR SESION</a>
      </div>
    </ion-header>

    <ion-content class="side-content">
      <ion-list>
        <ion-item style="padding: 3px;" routerLink="/home">
          <i class="fa fa-home"></i>
          <ion-label style="padding-left:10px">Inicio</ion-label>
        </ion-item>
        <ion-item style="padding: 3px;" *ngIf="appService?.currentUser" routerLink="/order-list">
          <i style="padding-left: 5px;" class="fa fa-clipboard-list"></i>
          <ion-label style="padding-left:10px">Mis Pedidos</ion-label>
        </ion-item>
        <!-- <ion-item style="padding: 3px;" *ngIf="appService?.currentUser && appService?.currentUser.isAdmin"
          routerLink="/store/{{ appService._userStoreId }}">
          <i class="fa fa-store"></i>
          <ion-label style="padding-left:10px">Mi Tienda</ion-label>
        </ion-item> -->
        <ion-item style="padding: 3px;" routerLink="/contact">
          <i class="fa fa-paper-plane"></i>
          <ion-label style="padding-left:10px">PQRSF</ion-label>
        </ion-item>
        <!-- <ion-item style="padding: 3px;">
          <i class="fa fa-info-circle"></i>
          <ion-label style="padding-left:10px">Acerca de</ion-label>
        </ion-item> -->
        <ion-item style="padding: 3px;cursor: pointer;" *ngIf="appService?.currentUser" (click)="signOut()">
          <i class="fa fa-sign-out-alt"></i>
          <ion-label style="padding-left:10px">Cerrar Sesion</ion-label>
        </ion-item>
      </ion-list>
      <ion-toolbar style="padding-top: 30px;">
        <div class="footer" style="padding: 8px 8px 8px 8px;">

          <div class="user-list-left" style="text-align: -webkit-center;padding-bottom: 15px;">
            <img src="../assets/icon/favicon.png" alt="img" class="shadow-small" style="width: 60px;">
          </div>

          <a class="nav-title color-theme" style="font-size: 20px;padding: 0px 0px 0px 0px;"><span
              style="color: red;">COPA</span>CITY</a>
          <p class="footer-text" style="margin-bottom: 10px;padding: 0px 0px 0px 0px;">Tu Centro Comercial Virtual</p>

          <div class="footer-socials" style="padding-left: 20px;">
            <a href="{{ appService._appInfo?.facebook }}" class="round-tiny shadow-medium bg-facebook"><i
                class="fab fa-facebook-f"></i></a>
            <a href="tel:{{ appService._appInfo?.phone }}" class="round-tiny shadow-medium bg-phone"><i
                class="fa fa-phone"></i></a>
            <a href="https://wa.me/57{{ appService._appInfo?.whatsapp }}" class="icon icon-round icon-s bg-whatsapp"><i
                class="fab fa-whatsapp"></i></a>
            <a (click)="shareApp($event)" data-menu="menu-share" class="round-tiny shadow-medium bg-red2-dark"><i
                class="fa fa-share-alt"></i></a>
          </div>
          <p style="margin-bottom: 10px;padding: 0px 0px 0px 0px;" class="footer-text"><b>Version</b>
            {{ appService.appVersion }}
          </p>
          <p style="margin: 0px;margin-bottom: 10px;padding: 0px 0px 0px 0px;" class="footer-copyright">Copyright
            &copy; Enabled <span id="copyright-year">2020</span>.
            All Rights Reserved.
          </p>
        </div>
      </ion-toolbar>
    </ion-content>
  </div>

  <!-- Right Side Menu Only To Big Browsers -->
  <div id="main-menu-large-right">
    <ion-header>
      <ion-toolbar>
        <ion-title style="text-align: center;">
          <h4 style="top: -15px;padding-left: 10px;font-weight: 700;">Notificaciones</h4>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="side-content">
      <app-menu-notifications></app-menu-notifications>
    </ion-content>
  </div>
</ion-header>

<super-tabs [config]="{ sideMenu: 'left', allowElementScroll: true }">
  <super-tabs-container>
    <super-tab>
      <ion-content class="content-background">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent"
            refreshingText="Actualizando...">
          </ion-refresher-content>
        </ion-refresher>

        <!-- <ion-slides #sliderContact [options]="appService.slideOpts" style="max-width: 450px;">
          <ion-slide *ngFor="let banner of appService.banners | async">
            <img src="{{banner.image}}">
          </ion-slide>
        </ion-slides> -->

        <div class="profile-1 bottom-30 top-30">
          <!-- <div class="profile-header" style="background-color: transparent;">

            < #sliderContact [options]="appService.slideOpts" style="height: 150px;">
              <ion-slide style="padding-right: 10px;padding-left: 10px;padding-top: 10px;"
                *ngFor="let banner of appService.banners | async">
                <img src="{{banner.image}}" class="round-medium">
              </ion-slide>
            </ion-slides>
          </div>
          <div class="profile-header-clear" style="height: 220px;"></div> -->
          <div class="profile-body" style="border-radius:15px;margin: 0px 5px;">

            <a style="background-color: white; color: black; font-size: 15px;border-radius:15px"
              class="profile-button button shadow-large button-m button-round uppercase bolder button-center-medium">NUEVO
              MENSAJE</a>

            <div id="page">
              <div class="content header-clear-small" style="margin: 0px 0px 0px 0px;">
                <div class="content" style="margin: 0px 0px 0px 0px;">

                  <form [formGroup]="form">
                    <div class="content header-clear-small">
                      <ion-list lines="full" class="ion-no-margin ion-no-padding">

                      <ion-item>
                        <ion-label>Tienda:</ion-label>
                        <ion-select style="padding-right: 10px;" formControlName="idStore" mode="ios" cancelText="Cancelar" okText="Okay!"
                          interface='action-sheet'>
                          <ion-select-option *ngFor="let store of stores" value="{{store.id}}">{{store.name}}
                          </ion-select-option>
                        </ion-select>
                      </ion-item>

                      <ion-item>
                        <ion-label>Motivo:</ion-label>
                        <ion-select style="padding-right: 10px;" formControlName="idType" mode="ios" cancelText="Cancelar" okText="Okay!"
                          interface='action-sheet'>
                          <ion-select-option value="1">Petición</ion-select-option>
                          <ion-select-option value="2">Queja</ion-select-option>
                          <ion-select-option value="3">Reclamo</ion-select-option>
                          <ion-select-option value="4">Sugerencia</ion-select-option>
                          <ion-select-option value="5">Felicitación</ion-select-option>
                        </ion-select>
                      </ion-item>

                      <!-- <ion-item>
                        <ion-label position="floating" style="color: gray;">Titulo</ion-label>
                        <ion-input formControlName="title"></ion-input>
                      </ion-item> -->
                      <ion-item>
                        <ion-label position="floating" style="color: gray;">Mensaje <small style="color: gray;">
                            ({{this.form.get('message').value.length}}/500)</small></ion-label>
                        <ion-textarea formControlName="message"></ion-textarea>
                      </ion-item>
                      </ion-list>

                      <div *ngIf="(!form.valid && form.touched)" style="margin: 15px;"
                        class="content content-box round-small shadow-large">
                        <p style="color: red;font-size: 1.3em;" *ngIf="form.get('idStore').errors">
                          <span *ngIf="form.get('idStore').hasError('required')">Tienda es requerido</span>
                        </p>
                        <p style="color: red;font-size: 1.3em;" *ngIf="form.get('idType').errors">
                          <span *ngIf="form.get('idType').hasError('required')">Motivo es requerido</span>
                        </p>
                        <p style="color: red;font-size: 1.3em;" *ngIf="form.get('message').errors">
                          <span *ngIf="form.get('message').hasError('required')">Mensaje es requerido</span>
                          <span *ngIf="form.get('message').hasError('maxlength')">Mensaje debe ser maximo de 500
                            caracteres</span>
                        </p>
                      </div>
                    </div>
                  </form>

                  <div>
                    <a (click)="sendMessage()"
                        style="background-color: red;color:white;font-size: 15px;font-weight: bold;padding: 12px;height: 50px;margin: 10px 15px 10px 15px;padding-top: 15px;"
                        class="button button-round-small shadow-large button-full button-s">ENVIAR!</a>
                  </div>

                </div>
              </div>

              <div class="footer">
                <a href="#" class="footer-title"><span style="color: red;">COPA</span>CITY</a>
                <p class="footer-text">Tu Centro Comercial Virtual</p>
                <div class="footer-socials" style="padding-left: 30px;">
                  <a href="{{ appService._appInfo?.facebook }}" class="round-tiny shadow-medium bg-facebook"><i
                      class="fab fa-facebook-f"></i></a>
                  <a href="tel:{{ appService._appInfo?.phone }}" class="round-tiny shadow-medium bg-phone"><i
                      class="fa fa-phone"></i></a>
                  <a href="https://wa.me/57{{ appService._appInfo?.whatsapp }}"
                    class="icon icon-round icon-s bg-whatsapp"><i class="fab fa-whatsapp"></i></a>
                  <a data-menu="menu-share" (click)="shareApp($event)" class="round-tiny shadow-medium bg-red2-dark"><i
                      class="fa fa-share-alt"></i></a>
                  <div class="clear"></div>
                </div>
                <p class="footer-copyright">Copyright &copy; Enabled <span id="copyright-year">2020</span>. All Rights
                  Reserved.
                </p>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>