<div class="profile-popover bottom-30">
  <div class="profile-header">
  </div>
  <div class="profile-header-clear" style="height: 30px;margin: 0px 0px 0px 0px;"></div>
  <div class="profile-body" style="margin: 0px 5px;">
    <i (click)="close()" class="fa fa-times-circle"
      style="right: 0px;position: absolute;top: 0;font-size: 2em;padding: 2px;"></i>

    <a style="background-color: white; color: black;font-size: 20px;"
      class="profile-button button shadow-large button-m button-round uppercase bolder button-center-large">CUPON</a>

    <form [formGroup]="form">
      <div class="content header-clear-small">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="floating" style="color: gray;font-size: 15px;">Nombre <b style="color: red;">(*)</b>
            </ion-label>
            <ion-input formControlName="name" style="font-size: 15px;"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color: gray;">Compras superiores a: <b style="color: red;">(*)</b>
            </ion-label>
            <ion-input formControlName="minAmount" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="color: gray;">Descuento:</ion-label>
            <ion-select style="padding-right: 10px;" mode="ios" cancelText="Cancelar" formControlName="discount"
              interface='action-sheet'>
              <ion-select-option value="{{number}}" *ngFor="let number of getNumbers(1, 100)">{{number}}%
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-checkbox formControlName="isVIP" [checked]="storeCoupon.isVIP"></ion-checkbox>
            <ion-label style="color: gray;font-size: 15px;padding-left: 10px;">Cupón VIP (No Virtual)
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Valido Hasta</ion-label>
            <ion-datetime formControlName="dateExpiration"
            mode="ios" 
            value="{{ editDate }}" 
            cancelText="Cancelar" 
            doneText="Aceptar" 
            monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic" 
            [yearValues]="getYears()"
            min="{{ minDate }}"
            placeholder="Seleccionar Fecha"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label style="color: gray;">Nro Copias:</ion-label>
            <ion-select style="padding-right: 10px;" mode="ios" cancelText="Cancelar" formControlName="quantity" value="{{ storeCoupon.quantity }}"
              interface='action-sheet'>
              <ion-select-option value="{{number}}" *ngFor="let number of getNumbers(1, 50)">{{number}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
    </form>

    <div *ngIf="(!form.valid && form.touched)" style="margin: 15px;"
      class="content content-box round-small shadow-large">
      <p style="color: red;font-size: 1.3em;" *ngIf="form.get('name').errors">
        <span *ngIf="form.get('name').hasError('required')">Nombre es requerido</span>
        <span *ngIf="form.get('name').hasError('maxlength')">Nombre debe ser maximo de 50
          caracteres</span>
      </p>
      <p style="color: red;font-size: 1.3em;" *ngIf="form.get('minAmount').errors">
        <span *ngIf="form.get('minAmount').hasError('required')">Valor minimo de compra es requerido</span>
      </p>
      <p style="color: red;font-size: 1.3em;" *ngIf="form.get('discount').errors">
        <span *ngIf="form.get('discount').hasError('required')">Descuento es requerido</span>
      </p>
    </div>

    <div>
      <a (click)="saveStoreCoupon()"
        style="background-color: red;color:white;font-size: 15px;font-weight: bold;padding: 12px;height: 50px;margin: 10px 15px 10px 15px;padding-top: 15px;"
        class="button button-round-small shadow-large button-full button-s">CREAR CUPON</a>
    </div>
  </div>
</div>