@import "../../../assets/template/styles/styleTemplate.css";

ion-content { --background: transparent;}

ion-toolbar{
    --background-color: red;
}

ion-header{
    --background-color: red;
}

.line-through {
	text-decoration: line-through;
  }

.store-cart-qty-cart i{width:35px;	font-size:15px;	background-color:rgba(0,0,0,0.05);}

.store-cart-qty-cart input{
	width:40px;
	font-size:15px;
	border-top:solid 1px rgba(0,0,0,0.05);
	border-bottom:solid 1px rgba(0,0,0,0.05);
}

.store-cart-qty-cart *{
	float:right;
	height:25px;
	line-height:25px!important;
	color:#1f1f1f;
	text-align:center;
}

.hidden{
	display: none;
}
  