<div class="profile-popover bottom-30">
  <div class="profile-header">
  </div>
  <div class="profile-header-clear" style="height: 30px;margin: 0px 0px 0px 0px;">
  </div>
  <div class="profile-body" style="margin: 0px 5px;">
    <i (click)="close()" class="fa fa-times-circle"
      style="right: 0px;position: absolute;top: 0;font-size: 2em;padding: 2px;"></i>

    <a style="background-color: white; color: black;font-size: 20px;"
      class="profile-button button shadow-large button-m button-round uppercase bolder button-center-large">Sección</a>

    <form [formGroup]="form">
      <div class="content header-clear-small">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="floating" style="color: gray;">Nombre Sección <b style="color: red;">(*)</b>
            </ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
        </ion-list>

        <div *ngIf="(!form.valid && form.touched)" style="margin: 15px;"
          class="content content-box round-small shadow-large">
          <p style="color: red;font-size: 1.3em;" *ngIf="form.get('name').errors">
            <span *ngIf="form.get('name').hasError('required')">Nombre Sección es requerido</span>
            <span *ngIf="form.get('name').hasError('maxlength')">Nombre Sección debe ser maximo de 30
              caracteres</span>
          </p>
        </div>
      </div>
    </form>
    <ion-toolbar>
      <ion-title>
        <a (click)="createProductCategory()"
          style="background-color: red;color:white;font-size: 15px;font-weight: bold;padding: 12px;height: 50px;margin: 10px 15px 10px 15px;padding-top: 15px;"
          class="button button-round-small shadow-large button-full button-s">Crear Sección</a>
      </ion-title>
    </ion-toolbar>
  </div>
</div>