<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <i class="fa fa-times" style="font-size: 1.5em;color: black;"></i>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-size: large;color: black;padding-left: 10px;">
      Editar imagen
    </ion-title>
  </ion-toolbar>

</ion-header>

<div id="page">
  <div class="content">
    <table style="margin-bottom: 0px;">
      <tr>
        <td style="text-align: left;">
          <a (click)="zoom(0.1)" class="icon icon-s icon-round shadow-small">
            <i class="fa fa-search-plus" style="color: black"></i></a>
          <a (click)="zoom(-0.1)" class="icon icon-s icon-round shadow-small">
            <i class="fa fa-search-minus" style="color: black"></i></a>
          <a (click)="rotate(-45)" class="icon icon-s icon-round shadow-small">
            <i class="fa fa-undo-alt" style="color: black"></i></a>
          <a (click)="rotate(45)" class="icon icon-s icon-round shadow-small">
            <i class="fa fa-redo-alt" style="color: black"></i></a>
        </td>
        <td style="text-align: right;vertical-align: top;">
          <a (click)="acceptCropper()" style="background-color: red;"
            class="button button-round-small shadow-large button-full button-s">ACEPTAR</a>
        </td>
      </tr>
    </table>
    <div>
      <span style="color: red;">Desliza por el borde hacia abajo si la imagen no se ve completa</span>
      <img #image src="{{imageSource}}" crossorigin />
    </div>
  </div>