<ion-header class="ion-no-border">
  <div class="header header-fixed header-logo-app">
    <ion-menu-toggle><a class="header-title ultrabold font-15" style="top: -2px;"><span class="color-highlight"
          routerLink="/app/home">{{appService?._appInfo?.name1}}</span>{{appService?._appInfo?.name2}}</a>
    </ion-menu-toggle>
    <a class="header-icon header-icon-1" routerLink="/app/home">
      <i class="fas fa-arrow-left"></i>
    </a>
    <a class="header-icon header-icon-2" (click)="menuService.presentMenuUser($event)"><i class="fa fa-user"></i></a>
    <a (click)="menuService.presentMenuNotifications($event)" class="header-icon header-icon-3"><i
        class="fa fa-bell"></i>
      <ion-badge *ngIf="(appService.notificationsCount | async) > 0" id="badge-notifications" color="danger" slot="end">
        {{appService.notificationsCount | async}}</ion-badge>
    </a>
    <a #cartHome class="header-icon header-icon-4" (click)="menuService.openCart($event)"><i
        class="fa fa-shopping-cart"></i>
      <ion-badge *ngIf="cartManagerService.getTotalCount() > 0" id="badge-cart" color="danger" slot="end">
        {{ cartManagerService.getTotalCount() }}</ion-badge>
    </a>
    <a class="header-icon header-icon-5" (click)="menuService.openSearchPage($event)"><i class="fa fa-search"></i></a>
    <a class="header-icon header-icon-6" data-toggle-theme><i class="fa fa-moon"></i></a>
  </div>
</ion-header>

<ion-content>
  <div id="page">
    <div class="page-content" style="box-shadow: none;">
      <div class="profile-1" y style="z-index: 9;">
        <div class="profile-body menuLeft" style="margin: 0px 5px;padding: 15px 0px;">

          <a (click)="shareStore($event)" style="border-radius:10px;"
            class="profile-button-none menuLeft button button-m button-round uppercase bolder button-center-medium">
            <h5 class="bolder" style="margin-bottom: 30px;">Pedidos</h5>
          </a>

          <div *ngIf="searchingOrders">
            <div class="store-slide-2" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
              <a class="store-slide-image">
                <ion-skeleton-text animated style="height: 50px; top:-10px" class="round-medium">
                </ion-skeleton-text>
              </a>
              <div class="store-slide-title">
                <strong>
                  <ion-skeleton-text animated style="width: 100%" class="round-medium"></ion-skeleton-text>
                </strong>
                <em class="color-gray2-dark">
                  <ion-skeleton-text animated style="width: 100%" class="round-medium"></ion-skeleton-text>
                </em>
              </div>
            </div>
          </div>

          <div class="boxed-text-huge">
            <label *ngIf="orderSearchHits == 0 && !searchingOrders"
              style="color: red;padding-top: 20px;font-size: 1em;">No se
              encontraron pedidos</label>
          </div>

          <div class="content">
            <div *ngFor="let order of orders | async" class="{{ !order?'hidden':'' }}">
              <a href="#" class="user-group">
                <div class="user-group-manager {{ order?.status == 1?'border-red1-light':order?.status == 2?'border-green1-light':order?.status == 3?'border-dark2-dark':'' }}">
                  <img class="shadow-large"
                    src="{{order?.photoUrl?order?.photoUrl:'../../../assets/icon/no-image.png'}}" alt="img">
                  <h4 class="color-theme">{{ order?.userName }}</h4>
                  <em class="color-highlight">{{order?.dateCreated.toDate() | date:'MMM d, h:mm a' }}</em>
                </div>
                <div class="user-group-title">
                  <h5 class="bolder bottom-0 {{ order?.status == 1?'color-red1-light':order?.status == 2?'color-green1-light':order?.status == 3?'color-dark2-dark':'' }}">
                    {{ order?.status | orderStatusName }}</h5>
                  <p *ngIf="order?.status != 1" class="under-heading font-10 color-highlight bottom-15">Actualizado: {{order?.lastUpdated.toDate() | date:'MMM d, h:mm a' }}</p>
                </div>
                <div class="user-group-users">
                  <a *ngIf="order?.status == 1 && isAdmin" (click)='openOrderDetailPage(order.id)'
                    style="color:white;font-size: 10px;font-weight: bold;background-color: red;"
                    class="button button-round-small shadow-small button-s">ATENDER</a>
  
                  <a *ngIf="order?.status == 1 && !isAdmin" (click)='openOrderDetailPage(order.id)'
                    style="color:white;font-size: 10px;font-weight: bold;background-color: red;"
                    class="button button-round-small shadow-small button-s">VER DETALLE</a>
  
                  <a *ngIf="order?.status == 2" (click)='openOrderDetailPage(order.id)'
                    style="color:white;font-size: 10px;font-weight: bold;"
                    class="button button-round-small shadow-small button-s bg-gradient-green1">VER
                    DETALLE</a>
  
                  <a *ngIf="order?.status == 3" (click)='openOrderDetailPage(order.id)'
                    style="color:white;font-size: 10px;font-weight: bold;background-color: black;"
                    class="button button-round-small shadow-small button-s">VER DETALLE</a>
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
              </a>

              <div class="divider bottom-15"></div>
            </div>
          </div>

          <div class="footer" style="box-shadow:none;padding: 0px 30px 10px 30px;">
            <div class="user-list-left" style="text-align: -webkit-center;padding-bottom: 15px;">
              <img src="../assets/icon/favicon.png" alt="img" style="width: 80px;">
            </div>
            <a class="footer-title"><span
                class="color-highlight">{{appService?._appInfo?.name1}}</span>{{appService?._appInfo?.name2}}</a>
            <p class="footer-text" style="padding-top: 10px;margin-bottom: 15px;">Tu Centro
              Comercial Virtual</p>
            <div class="footer-socials" style="padding-left: 24px;">
              <a href="{{ appService._appInfo?.facebook }}" class="round-tiny shadow-medium bg-facebook"><i
                  class="fab fa-facebook-f"></i></a>
              <a href="tel:{{ appService._appInfo?.phone }}" class="round-tiny shadow-medium bg-phone"><i
                  class="fa fa-phone"></i></a>
              <a href="https://wa.me/57{{ appService._appInfo?.whatsapp }}"
                class="icon icon-round icon-s bg-whatsapp"><i class="fab fa-whatsapp"></i></a>
              <a data-menu="menu-share" (click)="shareApp($event)" class="round-tiny shadow-medium bg-red2-dark"><i
                  class="fa fa-share-alt"></i></a>
              <div class="clear"></div>
            </div>

            <p class="footer-copyright">Copyright &copy; Maothinks <span class="copyright-year">2021</span>.
              All Rights
              Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>