<div class="profile-auth bottom-30">
  <div class="profile-header">
  </div>
  <div class="profile-header-clear" style="height: 30px;">
  </div>
  <div class="profile-body" style="margin: 0px 5px;">
    <i (click)="close()" class="fa fa-times-circle"
      style="right: 0px;position: absolute;top: 0;font-size: 2em;padding: 2px;"></i>

    <a style="background-color: transparent; color: black; top: -8px; padding: 0px 0px;"
      class="profile-button button button-m button-round uppercase bolder button-center-large">
      <div class="user-list-left" style="text-align: -webkit-center;">
        <img src="../assets/icon/favicon.png" alt="img" class="shadow-small" style="width: 60px;">
      </div>
    </a>

    <div id="menu-signin" class="round-medium menu-active" data-menu-height="470" data-menu-effect="menu-over"
      style="opacity: 1; display: block;">
      <div class="content" style="margin: 0px 0px 0px 0px;">

        <div class="input-style has-icon input-style-1 input-required">
          <i class="input-icon fa fa-user font-12"></i>
          <span>Email</span>
          <em style="font-size: 12px;">(requerido)</em>
          <input id="email" type="email" placeholder="Email">
        </div>
        <div class="input-style has-icon input-style-1 input-required">
          <i class="input-icon fa fa-lock font-12"></i>
          <span>Contraseña</span>
          <em style="font-size: 12px;">(requerido)</em>
          <input id="password" type="password" placeholder="Contraseña">
        </div>
        <div class="top-20">
          <div (click)="popoverPasswordResetEmail()" class="one-half"><a data-menu="menu-forgot"
              class="left-text font-12">¿Se te olvidó tu contraseña?</a></div>
          <div (click)="createAccount()" class="one-half last-column"><a data-menu="menu-signup"
              class="right-text font-12">
              Crear una cuenta</a></div>
        </div>

        <div class="clear"></div>

        <a (click)="signinEmail()"
          class="button button-full button-s shadow-large button-round-small bg-green1-dark top-10">Iniciar Sesión</a>

        <a (click)="signinGoogle()" style="font-size: 12px;"
          class="button button-full button-m shadow-large button-round-small button-icon bg-google button-s"><i
            class="fab fa-google"></i>INICIAR CON GOOGLE</a>

        <a (click)="signinFacebook()" sstyle="font-size: 12px;"
          class="button button-full button-m shadow-large button-round-small button-icon bg-facebook button-s"><i
            class="fab fa-facebook"></i>INICIAR CON FACEBOOK</a>
      </div>
      <p class="top-10" style="color: black;">
        Al registrarse o iniciar sesión estás aceptando las <a (click)="popoverPrivacyPolicy()"> políticas de
          privacidad, </a><a (click)="popoverReturnsPolicy()">políticas de cambios y devoluciones</a> y <a
          (click)="popoverTermsService()">términos de uso
        </a></p>
    </div>
  </div>
</div>