<div class="profile-popover">
  <div class="profile-header">
  </div>
  <div class="profile-header-clear" style="height: 30px;margin: 0px 0px 0px 0px;">
  </div>
  <div class="profile-body" style="margin: 0px 5px;">
    <i (click)="close()" class="fa fa-times-circle"
      style="right: 0px;position: absolute;top: 0;font-size: 2em;padding: 2px;"></i>

    <a style="background-color: white; color: black;"
      class="profile-button button shadow-large button-m button-round uppercase bolder button-center-large">CUPONES</a>

    <div *ngIf="!isAdmin" class="content contact-message top-20"
      style="margin: 0px 0px 0px 0px;">
      <div class="content content-box round-small" style="padding: 5px;margin: 0px 0px 0px 0px;">
        <span class="center-text bolder" style="color: black;margin-bottom: 0px;line-height: 20px;">
          A continuación podrás ver la lista de cupones que tenemos disponibles para ti, en la pantalla de pedido puedes
          tomar algún cupón virtual y aplicar el descuento,
          también puedes usar el lector QR para escanear los cupones que tengas impresos.
        </span>
      </div>
    </div>

    <div class="content" style="margin: 0px 0px 0px 0px;">
      <div class="top-20">
        <table>
          <tr *ngIf="isAdmin">
            <td colspan="2" style="text-align: right;">
              <a (click)="openStoreCouponsCreatePage()" *ngIf="isAdmin"
                style="text-align: end;background-color: red;margin-bottom: 0px;"
                class="button button-round-small button-s">+ Cupón</a>
            </td>
          </tr>

          <tr *ngIf="searchingCoupons">
            <td colspan="2" style="text-align: center;">
              <div>
                <div class="store-slide-2" *ngFor="let item of [1,2,3,4,5,6]">
                  <a class="store-slide-image">
                    <ion-skeleton-text animated style="height: 50px; top:-10px" class="round-medium">
                    </ion-skeleton-text>
                  </a>
                  <div class="store-slide-title">
                    <strong>
                      <ion-skeleton-text animated style="width: 100%" class="round-medium"></ion-skeleton-text>
                    </strong>
                    <em class="color-gray2-dark">
                      <ion-skeleton-text animated style="width: 100%" class="round-medium"></ion-skeleton-text>
                    </em>
                  </div>
                </div>
              </div>
            </td>
          </tr>

          <tr *ngIf="couponSearchHits == 0 && !searchingCoupons">
            <td colspan="2" style="text-align: center;">
              <div class="boxed-text-huge">
                <label style="color: red;padding-top: 20px;font-size: 1.2em;">No se
                  encontraron cupones</label>
              </div>
            </td>
          </tr>

          <tr *ngFor="let storeCoupon of storeCoupons | async; let i = index"
            class="{{ (!isAdmin && ((storeCoupon.dateExpiration.toDate().getTime() < today.getTime()) || storeCoupon.quantity <= 0))?'hidden':'' }}">
            <td style="vertical-align: top;width: 120px;text-align: left;position: relative;">
              <img class="round-small preload-image" src="../../../assets/icon/coupon.png" alt="img"
                style="height: 100px;width: 100px;">

              <em *ngIf="storeCoupon.dateExpiration.toDate().getTime() < today.getTime()" style="background-color: transparent;color: black;font-weight: bold;
                font-size: 1.2em;position: absolute;left: -10px;top: 20px;padding-right: 10px;">
                <img src="../../../assets/icon/vencido.png" class="responsive-image preload-image round-medium"
                  alt="img">
              </em>
              <label style="font-size: 3em;font-weight: 700;"
                class="color-highlight">{{ storeCoupon.discount }}%</label>
            </td>
            <td style="padding-right: 10px;">
              <table>
                <tr>
                  <td colspan="2" style="text-align: left;padding: 0px 0px 10px 0px;"> <span
                      style="font-weight: 700;color: black;font-size: 1.5em;">{{storeCoupon.name}}</span>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: left;padding: 0px 0px 10px 0px;">
                    <span style="font-size: 1em;font-weight: 700;color: black;">Compras mayores de:</span>
                  </td>
                  <td colspan="2" style="text-align: right;padding: 0px 0px 10px 0px;vertical-align: top;">
                    <span style="font-size: 1.2em;font-weight: 700;"
                      class="color-highlight">{{ storeCoupon.minAmount | currency: 'USD': 'symbol' : '1.0-0' }}</span>
                  </td>
                </tr>
                <!-- <tr>
                  <td style="text-align: left;padding: 0px 0px 10px 0px;">
                    <span style="font-size: 1em;font-weight: 700;" class="color-highlight">Descuento del:</span>
                  </td>
                  <td colspan="2" style="text-align: right;padding: 0px 0px 10px 0px;">
                    <span style="font-size: 1.2em;font-weight: 700;"
                      class="color-highlight">{{ storeCoupon.discount }}%</span>
                  </td>
                </tr> -->
                <tr>
                  <td style="text-align: left;padding: 0px 0px 10px 0px;">
                    <span style="font-size: 1em;font-weight: 700;color: black;">Válido hasta:</span>
                  </td>
                  <td colspan="2" style="text-align: right;padding: 0px 0px 10px 0px;vertical-align: top;">
                    <span style="font-size: 1.2em;font-weight: 700;"
                      class="color-highlight">{{ storeCoupon.dateExpiration.toDate() | date: 'dd/MM/yyyy' }}</span>
                  </td>
                </tr>
                <tr *ngIf="isAdmin">
                  <td style="text-align: left;padding: 0px 0px 10px 0px;">
                    <span style="font-size: 1em;font-weight: 700;color: black;">VIP:</span>
                  </td>
                  <td colspan="2" style="text-align: right;padding: 0px 0px 10px 0px;vertical-align: top;">
                    <span style="font-size: 1.2em;font-weight: 700;"
                      class="color-highlight">{{ (storeCoupon.isVIP)? 'Si':'No' }}</span>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: left;padding: 0px 0px 10px 0px;">
                    <span style="font-size: 1em;font-weight: 700;color: black;">Disponibles:</span>
                  </td>
                  <td colspan="2" style="text-align: right;padding: 0px 0px 10px 0px;vertical-align: top;">
                    <span style="font-size: 1.2em;font-weight: 700;"
                      class="color-highlight">{{ storeCoupon.quantity }}</span>
                  </td>
                </tr>
                <tr *ngIf="isAdmin">
                  <td colspan="3" style="text-align: right;padding: 0px 0px 0px 0px;">
                    <a (click)="openBarCodeGenerator(storeCoupon)" class="icon icon-s icon-round shadow-small">
                      <i class="fa fa-qrcode" style="color: black"></i></a>
                    <a (click)="presentDeleteProductPrompt(storeCoupon)" class="icon icon-s icon-round shadow-small">
                      <i class="fa fa-trash" style="color: black"></i></a>
                    <a (click)="openStoreCouponsCreatePage_Update(storeCoupon)"
                      class="icon icon-s icon-round shadow-small">
                      <i class="fa fa-edit" style="color: black"></i></a>
                  </td>
                </tr>
                <tr *ngIf="(!isAdmin && dashboard)">
                  <td colspan="3" style="text-align: right;padding: 0px 0px 0px 0px;">
                    <a (click)="setLikeTemporalCoupon(storeCoupon)" style="color:white;background-color: red;"
                      class="button button-round-small shadow-large button-full button-s {{ (!isAdmin && !dashboard && orderTotal < storeCoupon.minAmount)?'sold-out':'' }}">
                      Tomar Cupón</a>
                  </td>
                </tr>
                <tr *ngIf="(!isAdmin && !dashboard)">
                  <td colspan="3" style="text-align: right;padding: 0px 0px 0px 0px;">
                    <a (click)="selectCoupon(storeCoupon)" style="color:white;background-color: red;"
                      class="button button-round-small shadow-large button-full button-s {{ (!isAdmin && !dashboard && orderTotal < storeCoupon.minAmount)?'sold-out':'' }}">
                      Tomar Cupón</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>