<ion-header class="ion-no-border">
  <div class="header header-fixed header-logo-app">
    <ion-menu-toggle><a class="header-title ultrabold font-15" style="top: -2px;"><span class="color-highlight"
          routerLink="/app/home">{{appService?._appInfo?.name1}}</span>{{appService?._appInfo?.name2}}</a>
    </ion-menu-toggle>
    <a class="header-icon header-icon-1">
      <ion-menu-toggle><i class="fas fa-bars"></i></ion-menu-toggle>
    </a>
    <a class="header-icon header-icon-2" (click)="menuService.presentMenuUser($event)"><i class="fa fa-user"></i></a>
    <a (click)="menuService.presentMenuNotifications($event)" class="header-icon header-icon-3"><i
        class="fa fa-bell"></i>
      <ion-badge *ngIf="(appService.notificationsCount | async) > 0" id="badge-notifications" color="danger" slot="end">
        {{appService.notificationsCount | async}}</ion-badge>
    </a>
    <a #cartHome class="header-icon header-icon-4" (click)="menuService.openCart($event)"><i
        class="fa fa-shopping-cart"></i>
      <ion-badge *ngIf="cartManagerService.getTotalCount() > 0" id="badge-cart" color="danger" slot="end">
        {{ cartManagerService.getTotalCount() }}</ion-badge>
    </a>
    <a class="header-icon header-icon-5" (click)="openSearchPage()"><i class="fa fa-search"></i></a>
    <a class="header-icon header-icon-6" data-toggle-theme><i class="fa fa-moon"></i></a>
  </div>
</ion-header>

<ion-content>
  <div id="page">
    <div class="page-content menuLeft product-detail">

      <a (click)="openBarCodeScanner()"
        style="right: 5px;position: absolute;top: 0;font-size: 2em;font-size: 1em;color: red;font-weight: bolder;margin: 2px;;z-index: 999;">
        <i class="fa fa-qrcode"></i>&nbsp;QR</a>

      <a (click)="shareProduct($event)" 
        style="right: 60px;position: absolute;top: 0;font-size: 2em;font-size: 1em;color: red;font-weight: bolder;margin: 2px;;z-index: 999;">
        <i class="fa fa-share-alt"></i>&nbsp;Compartir</a>

      <a #video *ngIf="product?.video" (click)="openVideoPlayerComponent($event, product?.video)"
        style="left: 5px;position: absolute;top: 0;font-size: 2em;font-size: 1em;color: red;font-weight: bolder;margin: 2px;z-index: 999;">
        <i class="fab fa-youtube"></i>&nbsp;Video</a>

      <ion-slides *ngIf="productImageCollection.length != 0" #sliderImageProductUpdate [options]="slideOpts"
        pager="true" style="padding-top: 30px;">
        <ion-slide *ngFor="let productImage of productImageCollection">
          <img [src]="productImage.image" alt="img" (click)='openImageViewer(productImage.image)'>
        </ion-slide>
      </ion-slides>

      <div class="content">
        <div class="store-product">
          <h2 class="store-product-title" style="font-size: 1.5em;padding-top: 5px;padding-right: 140px;">
            {{product?.name }}</h2>

          <span class="store-product-price">
            <em *ngIf="product?.discount && product?.discount > 0" style="font-size: 1em;font-weight: 500;"
              class="menuLeft">Antes
              <del>{{product?.price | currency: 'USD' : 'symbol' : '1.0-0'}}</del></em>

            <strong *ngIf="!product?.discount || product?.discount <= 0" style="padding-top: 5px;">{{product?.price |
              currency: 'USD' : 'symbol' : '1.0-0'}}</strong>
            <strong *ngIf="product?.discount && product?.discount > 0" style="padding-top: 5px;">{{ product?.price -
              (product?.price * (product?.discount / 100)) | currency: 'USD': 'symbol' : '1.0-0' }}</strong>
          </span>
          <span *ngIf="product?.discount && product?.discount > 0" class="store-product-discount"
            style="color: black; background-color: yellow;font-size: 1em;font-weight: bold;top:70px">{{
            product?.discount }}%
            Descuento</span>
        </div>

        <div *ngIf="product?.description">
          <div *ngIf="(!product?.discount || product?.discount <= 0)" class="divider top-10"></div>
          <div *ngIf="(product?.discount && product?.discount > 0)" class="divider top-50"></div>

          <h4 class="bold color-highlight">Descripción del producto</h4>
          <div class="container">
            <p>
              {{product?.description}}
            </p>
          </div>
        </div>

        <div *ngIf="productProperties.length != 0">
          <div class="divider top-50"></div>
          <h4 class="bold color-highlight">Características</h4>
          <table class="table-borders-dark store-product-table" style="border: solid 1px rgba(0,0,0,0.08);">
            <tr *ngFor="let productProperty of productProperties" class="{{productProperty.deleted?'hidden':''}}">
              <td style="vertical-align: top;" class="bold color-theme">{{productProperty.name}}</td>
              <td style="vertical-align: top;">
                <div *ngFor="let productPropertyOption of productProperty.productPropertyOptions"
                  class="{{productPropertyOption.deleted?'hidden':''}}">
                  {{productPropertyOption.name}}<b
                    *ngIf="(productPropertyOption.price || productPropertyOption.price != 0)">+{{productPropertyOption.price
                    | currency: 'USD' : 'symbol' : '1.0-0' }}</b>
                  <br />
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div class="divider divider-margins top-15"></div>

        <div class="top-20"></div>
        <p *ngIf="appService._appInfo?.returnsPolicyTemplate" class="bottom-20">
          <a (click)="popoverReturnsPolicy()">Políticas de cambio y devoluciones.</a>
        </p>
        <!-- <a (click)="addToCart($event)"
          style="background-color: red;color:white;font-size: 15px;font-weight: bold;padding: 12px;height: 50px;margin: 10px 15px 10px 15px;padding-top: 15px;"
          class="button button-round-small shadow-large button-full button-s bottom-20">AGREGAR AL CARRITO!</a> -->

        <div class="center-text">
          <a (click)="addToCart($event)"
            class="bg-highlight button button-round-small shadow-small button-sm button-s bottom-20">
            <i class="fa fa-shopping-cart add-button" style="color: white;padding-right: 5px;"></i>AGREGAR AL
            CARRITO</a>
        </div>
        <div class="clear"></div>
      </div>

      <div class="footer" style="box-shadow:none;padding: 0px 30px 10px 30px;">
        <div class="user-list-left" style="text-align: -webkit-center;padding-bottom: 15px;">
          <img src="../assets/icon/favicon.png" alt="img" style="width: 80px;">
        </div>
        <a class="footer-title"><span
            class="color-highlight">{{appService?._appInfo?.name1}}</span>{{appService?._appInfo?.name2}}</a>
        <p class="footer-text" style="padding-top: 10px;margin-bottom: 15px;">Tu Centro
          Comercial Virtual</p>
        <div class="footer-socials" style="padding-left: 24px;">
          <a href="{{ appService._appInfo?.facebook }}" class="round-tiny shadow-medium bg-facebook"><i
              class="fab fa-facebook-f"></i></a>
          <a href="tel:{{ appService._appInfo?.phone }}" class="round-tiny shadow-medium bg-phone"><i
              class="fa fa-phone"></i></a>
          <a href="https://wa.me/57{{ appService._appInfo?.whatsapp }}" class="icon icon-round icon-s bg-whatsapp"><i
              class="fab fa-whatsapp"></i></a>
          <a data-menu="menu-share" (click)="shareApp($event)" class="round-tiny shadow-medium bg-red2-dark"><i
              class="fa fa-share-alt"></i></a>
          <div class="clear"></div>
        </div>

        <p class="footer-copyright">Copyright &copy; Maothinks <span class="copyright-year">2021</span>.
          All Rights
          Reserved.
        </p>
      </div>
    </div>
  </div>
</ion-content>