<i (click)="close()" class="fa fa-times-circle"
  style="right: 0px;position: absolute;top: 0;font-size: 2em;padding: 2px;"></i>

<h4 class="menuLeft center-text top-20 bolder">Código QR</h4>

<div class="profile-header-clear" style="height: 10px;margin: 0px 0px 0px 0px;">
</div>
<div class="profile-body menuLeft" style="margin: 0px 5px;">
  <div class="round-medium">
    <div style="margin: 5px;padding-top: 20px;">
      <i (click)="close()" class="fa fa-times-circle"
        style="right: 0px;position: absolute;top: 0;font-size: 2em;padding: 2px;"></i>

      <div class="boxed-text-huge">
        <h5 style="font-size: 1.2em;font-weight: bold;padding-bottom: 20px;">{{ title }}</h5>
      </div>

      <div style="text-align:center">
        <ngx-qrcode [elementType]="elementType" [value]="value" class="copacity-code-qr">
        </ngx-qrcode><br>
      </div>

      <div class="boxed-text-huge">
        <div style="padding-top: 10px;text-align: -webkit-center;">
          <a [href]="href" style="text-align: end;margin-bottom: 0px;" (click)="downloadImage()"
            class="button button-round-small button-s bg-highlight" download="QR_{{ title }}">
            <i class="fa fa-cloud-download-alt"></i>
            &nbsp;Descargar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>