<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <i class="fa fa-arrow-left" style="color: black;font-size: 1.2em;"></i>
      </ion-button>
      <ion-button routerLink="/home">
        <img id="img-title" src="../assets/icon/favicon.png" alt="img" style="width: 30px;padding-right: 5px;">
        <a class="header-title bold color-highlight" style="font-size: 1.2em;"><span
            style="color: red;">COPA</span>CITY</a>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="openSearchPage()">
        <span style="font-size: 1em; color: black;">
          <i class="fa fa-search" style="font-size: 1.2em"></i>
        </span>
      </ion-button>
      <ion-button #cart (click)="presentMenuCart($event)">
        <i class="fa fa-shopping-cart" style="color: black;font-size: 1.2em"></i>
        <ion-badge *ngIf="cartManagerService.getTotalCount() > 0" id="badge-cart" color="danger" slot="end">
          {{ cartManagerService.getTotalCount() }}
        </ion-badge>
      </ion-button>
      <ion-button (click)="presentMenuNotifications($event)" class="notifications-icon">
        <i class="fa fa-bell" style="color: black"></i>
        <ion-badge *ngIf="(appService.notificationsCount | async) > 0" id="badge-notifications" color="danger"
          slot="end">{{appService.notificationsCount | async}}</ion-badge>
      </ion-button>
      <ion-button (click)="presentMenuUser($event)">
        <i class="fa fa-user" style="color: black"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Left Side Menu Only To Big Browsers -->
  <div id="main-menu-large">
    <ion-header>
      <ion-toolbar>
        <div class="content top-30" *ngIf="appService?.currentUser">
          <div class="user-slider owl-carousel  bottom-0">
            <div class="user-list-left">
              <img
                [src]="this.appService.currentUser?.photoUrl?this.appService.currentUser?.photoUrl:'../../../assets/icon/no-image.png'"
                alt="img" class="shadow-small">
              <h4 style="top: -15px;">{{appService.currentUser?.name}}</h4>
              <a routerLink="/profile" class="next-slide-user" style="top: 70px;background-color: red;">VER PERFIL</a>
            </div>
          </div>
        </div>

        <div class="content top-30" *ngIf="!appService?.currentUser">
          <ion-menu-toggle auto-hide="true">
            <a (click)="SignIn()"
              style="background-color: red;color:white;font-size: 15px;font-weight: bold;padding: 12px;height: 50px;margin: 10px 15px 10px 15px;padding-top: 15px;"
              class="button button-round-small shadow-large button-full button-s">INICIAR SESIÓN</a>
          </ion-menu-toggle>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content class="side-content">
      <ion-list>
        <ion-item style="padding: 3px;" routerLink="/home">
          <i class="fa fa-home"></i>
          <ion-label style="padding-left:10px;font-size: 15px;">Inicio</ion-label>
        </ion-item>
        <ion-item style="padding: 3px;" *ngIf="appService?.currentUser" routerLink="/order-list">
          <i style="padding-left: 5px;" class="fa fa-clipboard-list"></i>
          <ion-label style="padding-left:10px;font-size: 15px;">Mis Pedidos</ion-label>
        </ion-item>
        <ion-item style="padding: 3px;" routerLink="/contact">
          <i class="fa fa-paper-plane"></i>
          <ion-label style="padding-left:10px;font-size: 15px;">Mensajes</ion-label>
        </ion-item>
        <ion-item style="padding: 3px;cursor: pointer;" *ngIf="appService?.currentUser" (click)="signOut()">
          <i class="fa fa-sign-out-alt"></i>
          <ion-label style="padding-left:10px;font-size: 15px;">Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
      <ion-toolbar style="padding-top: 30px;">
        <div class="footer" style="padding: 8px 8px 8px 8px;">

          <div class="user-list-left" style="text-align: -webkit-center;padding-bottom: 15px;">
            <img src="../assets/icon/favicon.png" alt="img" class="shadow-small" style="width: 60px;">
          </div>

          <a class="nav-title" style="font-size: 20px;padding: 0px 0px 0px 0px;"><span
              style="color: red;">COPA</span>CITY</a>
          <p class="footer-text" style="margin-bottom: 10px;padding: 0px 0px 0px 0px;">Tu Centro Comercial Virtual</p>

          <div class="footer-socials" style="padding-left: 20px;">
            <a href="{{ appService._appInfo?.facebook }}" class="round-tiny shadow-medium bg-facebook"><i
                class="fab fa-facebook-f"></i></a>
            <a href="tel:{{ appService._appInfo?.phone }}" class="round-tiny shadow-medium bg-phone"><i
                class="fa fa-phone"></i></a>
            <a href="https://wa.me/57{{ appService._appInfo?.whatsapp }}" class="icon icon-round icon-s bg-whatsapp"><i
                class="fab fa-whatsapp"></i></a>
            <a (click)="shareApp($event)" data-menu="menu-share" class="round-tiny shadow-medium bg-red2-dark"><i
                class="fa fa-share-alt"></i></a>
          </div>
          <p style="margin-bottom: 10px;padding: 0px 0px 0px 0px;" class="footer-text"><b>Versión</b>
            {{ appService.appVersion }}
          </p>
          <p style="margin: 0px;margin-bottom: 10px;padding: 0px 0px 0px 0px;" class="footer-copyright">Copyright
            &copy; Enabled <span id="copyright-year">2020</span>.
            All Rights Reserved.
          </p>
        </div>
      </ion-toolbar>
    </ion-content>
  </div>

  <!-- Right Side Menu Only To Big Browsers -->
  <div id="main-menu-large-right">
    <ion-header>
      <ion-toolbar>
        <ion-title style="text-align: center;">
          <h4 style="top: -15px;padding-left: 10px;font-weight: 700;">Notificaciones</h4>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="side-content">
      <app-menu-notifications></app-menu-notifications>
    </ion-content>
  </div>
</ion-header>

<super-tabs [config]="{ sideMenu: 'left', allowElementScroll: true }">
  <super-tabs-container>
    <super-tab>
      <ion-content class="content-background">
        <ion-refresher slot="fixed" (ionRefresh)="doRefreshMain($event)">
          <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent"
            refreshingText="Actualizando Tienda...">
          </ion-refresher-content>
        </ion-refresher>

        <div class="profile-2">
          <img (click)="openImageViewer(store?.logo?store?.logo:'../../../assets/icon/no-image.png')"
            style="width: 150px;margin: 5px auto 0px auto;" class="profile-image preload-image"
            [src]="store?.logo?store?.logo:'../../../assets/icon/no-image.png'" alt="img">

          <div *ngIf="isAdmin" class="under-slider-button" style="top: 25px;">
            <div class="cta-socials" style="text-align: center;">

              <a class="icon icon-s icon-round shadow-small" style="background-color: white;">

                <label for="file-upload">
                  <i style="color: black;" class="fa fa-upload"></i> </label>
                <input (change)="uploadFile($event)" id="file-upload" type="file" />
              </a>
            </div>
          </div>
        </div>

        <div class="profile-1 bottom-80 top-25">
          <div class="profile-body" style="border-radius:15px;margin: 0px 5px;">

            <a (click)="shareStore($event)"
              style="background-color: white; color: black;border-radius:15px;text-align: center;margin-bottom: 0px;"
              class="profile-button button shadow-large button-m button-round uppercase bolder button-center-large">{{store?.name}}
            </a>

            <a (click)="openBarCodeScanner()"
              style="right: 0px;position: absolute;top: 0;font-size: 2em;font-size: 1em;padding: 5px;color: red;font-weight: 500;margin: 2px;">
              <i class="fa fa-qrcode"></i>&nbsp;QR</a>

            <a *ngIf="isAdmin" (click)="openStoreUpdatePage()"
              style="left: 0px;position: absolute;top: 0;font-size: 2em;font-size: 1em;padding: 5px;color: red;font-weight: 500;margin: 2px;">
              <i class="fa fa-edit"></i></a>

            <!-- <a *ngIf="!isAdmin" (click)="openStoreInformationComponent($event)"
              style="left: 0px;position: absolute;top: 0;font-size: 2em;font-size: 1.2em;padding: 5px;color: red;font-weight: bold;margin: 2px;">
              <i class="fa fa-info-circle"></i></a> -->

            <div class="top-20"></div>

            <ion-slides #sliderMenu [options]="appService.slideOptsStoreMenu" style="max-width: 450px;">
              <ion-slide (click)="openStoreInformationComponent($event)" style="margin: 3px;width: 60px;">
                <a class="button button-round-small button-full"
                  style="color: red;font-size: 12px;margin-bottom: 0px;padding-top: 10px;width: 80px;height: 70px;border: double;">
                  <table>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <i class="fab fa-whatsapp" style="font-size: 2.5em;color: red;"></i>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <span style="font-size: .7em;color: black;">Contacto</span>
                      </td>
                    </tr>
                  </table>
                </a>
              </ion-slide>
              <ion-slide (click)="openSelectCategories()" style="margin: 3px;width: 60px;">
                <a class="button button-round-small button-full"
                  style="color: red;font-size: 12px;margin-bottom: 0px;padding-top: 10px;width: 80px;height: 70px;border: double;">
                  <table>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <i class="fas fa-th" style="font-size: 2.5em;color: red;"></i>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <span style="font-size: .7em;color: black;">Secciones</span>
                      </td>
                    </tr>
                  </table>
                </a>
              </ion-slide>
              <ion-slide (click)="searchFeaturedProducts()" style="margin: 3px;width: 60px;">
                <a class="button button-round-small button-full"
                  style="color: red;font-size: 12px;margin-bottom: 0px;padding-top: 10px;width: 80px;height: 70px;border: double;">
                  <table>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <i class="fas fa-star" style="font-size: 2.5em;color: red;"></i>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <span style="font-size: .7em;color: black;">Destacados</span>
                      </td>
                    </tr>
                  </table>
                </a>
              </ion-slide>
              <ion-slide (click)="openStorePointsPage()" style="margin: 3px;width: 60px;">
                <a class="button button-round-small button-full"
                  style="color: red;font-size: 12px;margin-bottom: 0px;padding-top: 10px;width: 80px;height: 70px;border: double;">
                  <table>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <i class="fas fa-gift" style="font-size: 2.5em;color: red;"></i>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <span style="font-size: .7em;color: black;">Regalos</span>
                      </td>
                    </tr>
                  </table>
                </a>
              </ion-slide>
              <ion-slide (click)="openStoreCouponsPage()" style="margin: 3px;width: 60px;">
                <a class="button button-round-small button-full"
                  style="color: red;font-size: 12px;margin-bottom: 0px;padding-top: 10px;;width: 80px;height: 70px;border: dotted;">
                  <table>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <i class="fas fa-cut" style="font-size: 2.5em;color: red;"></i>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <span style="font-size: .7em;color: black;">Cupones</span>
                      </td>
                    </tr>
                  </table>
                </a>
              </ion-slide>
              <ion-slide (click)="openStoreOrdersPage()" style="margin: 3px;width: 60px;">
                <a class="button button-round-small button-full"
                  style="color: red;font-size: 12px;margin-bottom: 0px;padding-top: 10px;width: 80px;height: 70px;border: double;">
                  <table>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <i class="fas fa-clipboard-list" style="font-size: 2.5em;color: red;"></i>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <span style="font-size: .7em;color: black;">Pedidos</span>
                      </td>
                    </tr>
                  </table>
                </a>
              </ion-slide>
              <ion-slide (click)="openStoreVendorsPage()" style="margin: 3px;width: 60px;">
                <a class="button button-round-small button-full"
                  style="color: red;font-size: 12px;margin-bottom: 0px;padding-top: 10px;width: 80px;height: 70px;border: double;">
                  <table>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <i class="fas fa-handshake" style="font-size: 2.5em;color: red;"></i>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <span style="font-size: .7em;color: black;">Comisiones</span>
                      </td>
                    </tr>
                  </table>
                </a>
              </ion-slide>
              <ion-slide (click)="openStorePQRSFPage()" style="margin: 3px;width: 60px;">
                <a class="button button-round-small button-full"
                  style="color: red;font-size: 12px;margin-bottom: 0px;padding-top: 10px;width: 80px;height: 70px;border: double;">
                  <table>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <i class="fas fa-paper-plane" style="font-size: 2.5em;color: red;"></i>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <span style="font-size: .7em;color: black;">PQRSF</span>
                      </td>
                    </tr>
                  </table>
                </a>
              </ion-slide>
              <ion-slide *ngIf="isAdmin || (appService.currentUser && appService.currentUser?.isSuperUser)"
                (click)="openStoreBillingPage($event)" style="margin: 3px;width: 60px;">
                <a class="button button-round-small button-full"
                  style="color: red;font-size: 12px;margin-bottom: 0px;padding-top: 10px;width: 80px;height: 70px;border: double;">
                  <table>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <i class="fas fa-file-invoice-dollar" style="font-size: 2.5em;color: red;"></i>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <span style="font-size: .7em;color: black;">Factura</span>
                      </td>
                    </tr>
                  </table>
                </a>
              </ion-slide>
              <ion-slide *ngIf="isAdmin || (appService.currentUser && appService.currentUser?.isSuperUser)"
                (click)="openStoreReportsPage()" style="margin: 3px;width: 60px;">
                <a class="button button-round-small button-full"
                  style="color: red;font-size: 12px;margin-bottom: 0px;padding-top: 10px;;width: 80px;height: 70px;border: double;">
                  <table>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <i class="fas fa-chart-bar" style="font-size: 2.5em;color: red;"></i>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0px 0px 0px 0px;">
                        <span style="font-size: .7em;color: black;">Reportes</span>
                      </td>
                    </tr>
                  </table>
                </a>
              </ion-slide>
            </ion-slides>

            <div class="bottom-0">
              <div *ngIf="isAdmin" style="margin: 0px 15px 0px 15px;padding-top: 20px;">
                <div class="one-half">
                  <a (click)="openProductCreatePage()" class="button button-round-small button-full"
                    style="color: white;background-color: red;font-size: 12px;margin-bottom: 0px;">+ Producto</a>
                </div>
                <div class="one-half last-column">
                  <a (click)="openProductCategoriesdPage()"
                    class="button  button-round-small button-border button-full bottom-0"
                    style="color: white;background-color: red;font-size: 12px;margin-bottom: 0px;">+ sección&nbsp;</a>
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>

            <div class="content gallery-view-controls" style="padding-top: 10px;">
              <ion-list style="padding-bottom: 0px">
                <ion-item>
                  <ion-label style="font-size: .8em;">Sección:</ion-label>
                  <ion-select #selectCategories style="padding-right: 10px;font-size: .8em;" mode="ios"
                    cancelText="Cancelar" value="{{ idProductCategory }}" okText="Okay!" interface='action-sheet'
                    (ionChange)="productCategory_OnChange($event)">
                    <ion-select-option value="0">Todas</ion-select-option>
                    <ion-select-option value="-1">Destacados</ion-select-option>
                    <ion-select-option *ngFor="let productCategory of productCategories | async;"
                      value="{{productCategory.id}}">{{productCategory.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </div>

            <div class="content bottom-10">
              <div *ngIf="searchingProducts" style="padding-top:10px ;">
                <div class="one-half" *ngFor="let item of [1,2,3,4,5,6]">
                  <div class="blog-col-item">
                    <a>
                      <ion-skeleton-text animated style="height: 150px;" class="round-medium"></ion-skeleton-text>
                      <ion-label>
                        <h3>
                          <ion-skeleton-text animated style="width: 100%" class="round-medium"></ion-skeleton-text>
                        </h3>
                        <p>
                          <ion-skeleton-text animated style="width: 100%" class="round-medium"></ion-skeleton-text>
                        </p>
                        <p>
                          <ion-skeleton-text animated style="width: 100%" class="round-medium"></ion-skeleton-text>
                        </p>
                      </ion-label>
                    </a>
                  </div>
                </div>
              </div>

              <div class="boxed-text-huge">
                <label *ngIf="productSearchHits == 0"
                  style="color: red;padding-top: 20px;font-size: 1.2em;padding-bottom: 20px;">No se
                  encontraron productos en la sección seleccionada</label>
              </div>

              <div class="one-half {{ (i %2 != 0? 'last-column':'' )}} "
                *ngFor="let product of products | async; let i = index" style="padding-bottom: 50px">
                <div class="blog-col-item" style="margin-bottom: 0px;">
                  <a>
                    <img (click)="openProduct(product)"
                      src="{{product?.image?product.image:'../../../assets/icon/no-image.png'}}"
                      class="responsive-image preload-image round-medium shadow-small img-store {{(product?.soldOut)?'sold-out':'' }}"
                      alt="img">

                    <em style="background-color: white;" class="top-5">
                      <span style="padding: 0px 0px 0px 0px;"
                        class="{{(product?.discount && product?.discount > 0)?'line-through color-gray font-15':'color-black font-18 top-10'}} {{(product?.soldOut)?'sold-out':'' }}">
                        {{ product?.price | currency: 'USD': 'symbol' : '1.0-0' }}</span>
                      <span *ngIf="product?.discount && product?.discount > 0"
                        style="color:black;padding: 0px 0px 0px 0px;background-color: yellow;color: black;font-weight: bold;"
                        class="{{(product?.soldOut)?'sold-out':'' }} font-18">
                        {{ product?.price - (product?.price * (product?.discount / 100)) | currency: 'USD': 'symbol' : '1.0-0' }}
                      </span>
                    </em>

                    <em *ngIf="product.video" (click)="openVideoPlayerComponent($event, product.video)"
                      style="background-color: transparent;padding: 0px 0px;right: 0px;" class="top-5">
                      <i class="fab fa-youtube" style="font-size: 2.8em;color: red;"></i>
                    </em>

                    <em *ngIf="product?.discount && product?.discount > 0" style="background-color: transparent;color: black;font-weight: bold;font-size: 1.2em;
                        top: -5px;right: -25px" class="{{(product?.soldOut)?'sold-out':'' }}">
                      <i class="fa fa-certificate" style="color: yellow;font-size: 2.8em;"></i></em>

                    <em *ngIf="product?.discount && product?.discount > 0" class="{{(product?.soldOut)?'sold-out':'' }}"
                      style="background-color: transparent;color: black;font-weight: bold;font-size: 1.2em;top: 8px;right: -22px;">
                      -{{ product?.discount }}%</em>

                    <em *ngIf="product?.soldOut"
                      style="background-color: transparent;color: black;font-weight: bold;font-size: 1.2em;top: 38px;right: 5px;"
                      class="{{(product?.discount && product?.discount > 0)?'line-through':''}}">
                      <img src="../../../assets/icon/agotado.png" class="responsive-image preload-image round-medium"
                        alt="img">
                    </em>

                    <table style="font-size: 1em;margin-bottom:0px">
                      <tr>
                        <td style="text-align: center;padding: 45px 0px 0px 0px;margin-top: 0px">
                          <a *ngIf="isAdmin" (click)="openBarCodeGenerator(product)"
                            class="icon icon-s icon-round shadow-small">
                            <i class="fa fa-qrcode" style="color: black"></i></a>
                          <a *ngIf="isAdmin" (click)="presentDeleteProductPrompt(product)"
                            class="icon icon-s icon-round shadow-small">
                            <i class="fa fa-trash" style="color: black"></i></a>
                          <a *ngIf="isAdmin" (click)="openProductUpdatePage(product)"
                            class="icon icon-s icon-round shadow-small">
                            <i class="fa fa-edit" style="color: black"></i></a>
                        </td>
                      </tr>
                      <tr *ngIf="isAdmin">
                        <td style="padding: 0px 0px 0px 0px;">
                          <a (click)="openProductInventoryPage(product)" *ngIf="isAdmin" style="color:red;"
                            class="button button-round-small shadow-small button-full button-s">
                            <i class="fa fa-dolly-flatbed add-button"
                              style="color: black;padding-right: 5px;"></i>Bodega</a>

                          <ion-list *ngIf="isAdmin">
                            <ion-item style="text-align: -webkit-left;">
                              <ion-label style="color: gray;font-size: small;padding-left: 5px;">Destacado</ion-label>
                              <ion-toggle (ionChange)="productFeatured($event, product)" mode="ios" slot="start"
                                checked="{{ product.isFeatured?true:false }}" name="blueberry"></ion-toggle>
                            </ion-item>
                          </ion-list>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-bottom: 20px;">
                          <strong style="height: 35px;padding-top: 10px;"
                            class="strong-store {{(product?.soldOut)?'sold-out':'' }}">
                            {{((product?.name.length<=30)?product?.name:product?.name.substring(0, 30) + '...')}}</strong>
                        </td>
                      </tr>
                      <tr *ngIf="!isAdmin">
                        <td style="text-align: center;">
                          <a (click)="addToCart($event, product)" style="background-color: red;color:white;"
                            class="button button-round-small shadow-large button-full button-s {{(product?.soldOut)?'sold-out':'' }}">
                            <i class="fa fa-shopping-cart add-button" style="color: white;padding-right: 5px;"></i>LO
                            QUIERO!</a>
                        </td>
                      </tr>
                    </table>
                  </a>
                </div>
              </div>
              <div class="clear"></div>
            </div>

            <div *ngIf="!searchingProducts">
              <a (click)="openSelectCategories()"
                style="background-color: white;color:red;border: double;border-color: red;"
                class="button button-round-small button-full button-s">Buscar Mas...</a>
            </div>
          </div>
          <div class="clear"></div>
        </div>

        <ion-fab *ngIf="!appService.temporalCoupon" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button color="success" (click)="openVendorList($event)">
            <!-- <a style="color: white;" href="https://wa.me/57{{ appService._appInfo?.whatsapp }}"> -->
            <a style="color: white;">
              <i class="fab fa-whatsapp" style="font-size: 2.5em;"></i>
            </a>
          </ion-fab-button>
        </ion-fab>
        <ion-fab *ngIf="appService.temporalCoupon" vertical="bottom" horizontal="end" slot="fixed" class="bottom-80">
          <ion-fab-button color="success" (click)="openVendorList($event)">
            <!-- <a style="color: white;" href="https://wa.me/57{{ appService._appInfo?.whatsapp }}"> -->
            <a style="color: white;">
              <i class="fab fa-whatsapp" style="font-size: 2.5em;"></i>
            </a>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>

<div #temporalCoupon class="ad-300x50-fixed round-small" *ngIf="appService.temporalCoupon"
  style="position: fixed;height: 80px;background: rgb(255,255,0);bottom:5px">
  <h6 (click)="appService.applyTemporalCoupon()" class="center-vertical center-text color-red bolder font-12"
    style="top: -5px;padding-left: 5px;padding-right: 5px;">
    {{ appService?.temporalCoupon?.store?.name }}
  </h6>

  <h6 (click)="appService.applyTemporalCoupon()" class="center-vertical center-text color-red font-12"
    style="top: 22px;padding-left: 5px;padding-right: 5px;">Tomaste
    un cupón con <b>{{ appService?.temporalCoupon?.storeCoupon?.discount }}%</b> de descuento para compras mayores a
    <b>{{ appService?.temporalCoupon?.storeCoupon?.minAmount | currency: 'USD': 'symbol' : '1.0-0' }}</b>
  </h6>

  <h6 class="center-vertical center-text color-red uppercase bolder font-10" style="top: 67px;">
    <table>
      <tr>
        <td style="background-color: red;padding: 0px 0px 9px 0px;width: 50%"><a
            (click)="appService.discardTemoralCoupon()" style="font-size: .95em;color: white;">Descartar</a></td>
        <td style="background-color: red;padding: 0px 0px 9px 0px;"><a (click)="appService.applyTemporalCoupon()"
            style="font-size: .95em;color: white;">Aplicar</a></td>
      </tr>
    </table>
  </h6>
</div>