@import "../../../assets/template/styles/styleTemplate.css";

:host {  
  --super-tabs-toolbar-background: red;
  --super-tabs-background: red;
  --super-tabs-color: white;
  --st-indicator-color: white;
  --st-indicator-height: 4px;
}

.label-super-tabs{
  font-size: medium; font-weight: 600; color: black;
}

ion-title a {
    font-size: 18px; color: black; padding-left: 5px;
}

super-tab-button{
      height: 35px;
      padding-bottom: 10px;
  }

#badge-cart {
    position: absolute;
    top: 1px;
    right: -6px;
    font-size: 13px;
    padding: 2px;
}

#badge-notifications {
  position: absolute;
  top: 1px;
  right: -6px;
  font-size: 13px;
  padding: 2px;
}

.header-products-large {
  height: 180px;
}

.header-products-small {
  height: 40px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.profile-button-store{margin-top:-25px!important;padding-top: 0px;}

.img-profile-store{
  width:220px;
	// border-radius:170px;
	margin:20px auto 30px auto;
	border:solid 5px #FFF;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.20);
}

i {
  font-size: 1.2em;
}

.hidden{
	display: none;
}


// @media screen and (min-width: 150px) {
//   .img-store {
//       height: 30px;
//       width: 30px;
//     }

//     .strong-store {
//       font-size: 5px; 
//       font-weight: 500;
//       height: 100px;
//       text-align: center;
//     }
// }

// @media screen and (min-width: 200px) {
//   .img-store {
//       height: 70px;
//       width: 70px;
//     }

//     .strong-store {
//       font-size: 10px; 
//       font-weight: 500;
//       height: 100px;
//       text-align: center;
//     }

// }

// @media screen and (min-width: 250px) {
//   .img-store {
//       height: 90px;
//       width: 90px;
//     }

//     .strong-store {
//       font-size: 10px; 
//       font-weight: 500;
//       height: 100px;
//       text-align: center;
//     }

// }

// @media screen and (min-width: 300px) {
//   .img-store {
//       height: 130px;
//       width: 130px;
//     }

//     .strong-store {
//       font-size: 15px; 
//       font-weight: 500;
//       height: 100px;
//       text-align: center;
//     }
// }

// @media screen and (min-width: 350px) {
// .img-store {
//     height: 165px;
//     width: 165px;
//   }

//   .strong-store {
//     font-size: 15px; 
//     font-weight: 500;
//     height: 100px;
//     text-align: center;
//   }
// }

// @media screen and (min-width: 450px) {
// .img-store {
//   height: 230px;
//   width: 230px;
// }

// .strong-store {
//   font-size: 15px; 
//   font-weight: 500;
//   height: 100px;
//   text-align: center;
// }
// }

// @media screen and (min-width: 600px) {
// .img-store {
//   height: 266px;
//   width: 266px;
// }

// .strong-store {
//   font-size: 15px; 
//   font-weight: 500;
//   height: 100px;
//   text-align: center;
// }
// }

.line-through {
  text-decoration: line-through;
}

@media screen and (min-width: 1180px) {  
  .profile-1 {
		width: 450px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 56px);
  }

  .new-store-profile{
		width: 450px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -0%);	
	}

  #main-menu-large{
    height: 100%;
    width: 250px;
    background-color: white;
    position: fixed;
    top: 56px;
    padding-bottom: 200px;
  }

  #main-menu-large-right {
    height: 100%;
    width: 250px;
    background-color: white;
    position: fixed;
    top: 56px;
    right: 0px;
    padding-bottom: 100px;
  }

  .side-content{
    --background: white;
  }

  .menu-icon-bars{
    display: none;
  }

  .notifications-icon{
    display: none;
  }
} 

@media screen and (max-width: 1179px) {
  #main-menu-large, #main-menu-large-right {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .add-button{
    display: none;
  }
}

