<ion-header class="ion-no-border">
  <div class="header header-fixed header-logo-app">
    <ion-menu-toggle><a class="header-title ultrabold font-15" style="top: -2px;"><span
          class="color-highlight" routerLink="/app/home">{{appService?._appInfo?.name1}}</span>{{appService?._appInfo?.name2}}</a>
    </ion-menu-toggle>
    <a class="header-icon header-icon-1">
      <ion-menu-toggle><i class="fas fa-bars"></i></ion-menu-toggle>
    </a>
    <a class="header-icon header-icon-2" (click)="menuService.presentMenuUser($event)"><i class="fa fa-user"></i></a>
    <a (click)="menuService.presentMenuNotifications($event)" class="header-icon header-icon-3"><i
        class="fa fa-bell"></i>
      <ion-badge *ngIf="(appService.notificationsCount | async) > 0" id="badge-notifications" color="danger" slot="end">
        {{appService.notificationsCount | async}}</ion-badge>
    </a>
    <a #cartHome class="header-icon header-icon-4" (click)="menuService.openCart($event)"><i
        class="fa fa-shopping-cart"></i>
      <ion-badge *ngIf="cartManagerService.getTotalCount() > 0" id="badge-cart" color="danger" slot="end">
        {{ cartManagerService.getTotalCount() }}</ion-badge>
    </a>
    <a class="header-icon header-icon-5" (click)="openSearchPage()"><i class="fa fa-search"></i></a>
    <a class="header-icon header-icon-6" data-toggle-theme><i class="fa fa-moon"></i></a>
  </div>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefreshMain($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="Buscando actualizaciones...">
    </ion-refresher-content>
  </ion-refresher>
  <div id="page">
    <div class="page-content" style="box-shadow: none;">
      <div class="profile-1" y style="z-index: 9;">
        <div class="content" style="margin: 0px 5px 0px 5px;">

          <div class="profile-2 bottom-25">
            <div
              [ngStyle]="{'background-image': 'url(' + category?.logo + ')', 'position': 'fixed', 'width': '99%','top': '-1px','height': '180px', 'filter': 'blur(6px)'}">
            </div>

            <img (click)="openImageViewer(category?.logo?category?.logo:'../../../assets/icon/no-image.png')"
              style="margin: 5px auto 0px auto;" class="profile-image preload-image"
              [src]="category?.thumb_logo?category?.thumb_logo:'../../../assets/icon/no-image.png'" alt="img">

            <div *ngIf="isAdmin" class="under-slider-button" style="top: 25px;">
              <div class="cta-socials" style="text-align: center;">

                <a class="icon icon-s icon-round shadow-small" style="background-color: white;">

                  <label for="file-upload">
                    <i style="color: black;" class="fa fa-upload"></i> </label>
                  <input (change)="uploadFile($event)" id="file-upload" type="file" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="profile-body menuLeft"
          style="margin: 0px 5px;padding: 0px 0px;top:-20px">

          <a (click)="shareStore($event)" style="border-radius:10px;"
            class="profile-button-none menuLeft button button-m button-round uppercase bolder button-center-medium">
            <h5 class="bolder" style="margin-bottom: 0px;">{{category?.name}}</h5>

            <ion-skeleton-text *ngIf="!category?.name" style="height: 30px;" animated
              class="responsive-image preload-image shadow-small img-store">
            </ion-skeleton-text>
          </a>

          <!-- <a (click)="openBarCodeScanner()"
              style="right: 0px;position: absolute;top: 0;font-size: 2em;font-size: 1em;padding: 5px;color: red;font-weight: 500;margin: 2px;">
              <i class="fa fa-qrcode"></i>&nbsp;QR</a> -->

          <a *ngIf="!isAdmin" (click)="openSelectCategories()"
            style="left: 0px;position: absolute;top: 0;font-size: 2em;font-size: 1em;padding: 5px;font-weight: 500;margin: 2px;">
            <i class="fas fa-filter"></i>
          </a>
          <a *ngIf="isAdmin" (click)="openStoreUpdatePage()"
            style="left: 0px;position: absolute;top: 0;font-size: 2em;font-size: 1em;padding: 5px;font-weight: 500;margin: 2px;">
            <i class="fa fa-edit"></i></a>

          <p *ngIf="category?.description" class="center-text font-13 under-heading" style="margin-bottom: 10px;">
            {{category?.description}}
          </p>

          <div class="bottom-0">
            <div *ngIf="isAdmin" class="center-text" style="margin: 0px 15px 0px 15px;padding-top: 5px;">

              <a (click)="openProductCreatePage()"
                class="bg-highlight button button-round-small shadow-small button-sm button-s right-5"
                style="margin-bottom: 5px;">+ Producto</a>

              <a (click)="openProductCategoriesdPage()"
                class="bg-highlight button button-round-small shadow-small button-sm button-s left-5"
                style="margin-bottom: 5px;">+ Sección&nbsp;</a>

              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="content gallery-view-controls" style="padding-left: 10px;">

            <a (click)="openSelectCategories()" class="bold top-10 font-12" style="text-align: left;width: 110px;"><i
                class="fas fas fa-list" style="font-size: 1.5em;padding-right: 5px;"></i> Mostrando:</a>

            <div class="chip top-15">
              <div class="chip-content" style="padding-right: 0px;padding-left: 18px;">{{selectedCategoryName}}</div>
              <div class="chip-close">
                <svg class="chip-svg" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                  <!-- <path
                    d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z">
                  </path> -->
                </svg>
              </div>
            </div>

            <ion-list style="padding-bottom: 0px" style="display: none;">
              <ion-item>
                <ion-label style="font-size: .8em;">Sección:</ion-label>
                <ion-select #selectCategories style="padding-right: 10px;font-size: .8em;" mode="ios"
                  cancelText="Cancelar" value="{{ idProductCategory }}" okText="Okay!" interface='action-sheet'
                  (ionChange)="productCategory_OnChange($event)">
                  <ion-select-option value="0">Todas </ion-select-option>
                  <!-- <ion-select-option value="-1">Destacados</ion-select-option> -->
                  <ion-select-option *ngFor="let productCategory of productCategories | async;"
                    value="{{productCategory.id}}">{{productCategory.name}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>

          <div class="content bottom-10">
            <div *ngIf="searchingProducts" style="padding-top:10px ;">
              <div class="gallery-views {{isBigScreen?'gallery-view-1':'gallery-view-2'}}">
                <div class="blog-col-item" style="margin-bottom: 0px;">
                  <a *ngFor="let item of [1,2,3,4,5,6]">
                    <ion-skeleton-text animated style="height: 150px;" class="round-medium"></ion-skeleton-text>
                    <ion-label>
                      <h3>
                        <ion-skeleton-text animated style="width: 100%" class="round-medium"></ion-skeleton-text>
                      </h3>
                      <p>
                        <ion-skeleton-text animated style="width: 100%" class="round-medium"></ion-skeleton-text>
                      </p>
                      <p>
                        <ion-skeleton-text animated style="width: 100%" class="round-medium"></ion-skeleton-text>
                      </p>
                    </ion-label>
                  </a>
                </div>
              </div>
            </div>

            <div class="boxed-text-huge">
              <label *ngIf="productSearchHits == 0"
                style="color: red;padding-top: 20px;font-size: 1.2em;padding-bottom: 20px;">No se
                encontraron productos en la sección seleccionada</label>
            </div>

            <div class="gallery-views {{isBigScreen?'gallery-view-1':'gallery-view-2'}}">
              <div class="blog-col-item" style="margin-bottom: 0px;">
                <a *ngFor="let product of products | async; let i = index" class="bottom-40">
                  <img (click)="openProduct(product)"
                    src="{{product?.image?product.image:'../../../assets/icon/no-image.png'}}"
                    class="responsive-image preload-image round-medium shadow-small img-store {{(product?.soldOut)?'sold-out':'' }}"
                    alt="img">

                  <em style="background-color: transparent;" class="top-5">
                    <h6 style="padding: 0px 0px 0px 0px;"
                      class="bolder menuLeft {{(product?.discount && product?.discount > 0)?'line-through color-gray font-15':'font-18 top-10'}} {{(product?.soldOut)?'sold-out':'' }}">
                      {{ product?.price | currency: 'USD': 'symbol' : '1.0-0' }}</h6>
                    <h6 *ngIf="product?.discount && product?.discount > 0"
                      style="color:black;padding: 0px 0px 0px 0px;background-color: yellow;color: black;font-weight: bold;"
                      class="{{(product?.soldOut)?'sold-out':'' }} font-18">
                      {{ product?.price - (product?.price * (product?.discount / 100)) | currency: 'USD': 'symbol' :
                      '1.0-0' }}
                    </h6>
                  </em>

                  <em *ngIf="product.video" (click)="openVideoPlayerComponent($event, product.video)"
                    style="background-color: transparent;padding: 0px 0px;right: 0px;" class="top-5">
                    <i class="fab fa-youtube" style="font-size: 2.8em;"></i>
                  </em>

                  <em *ngIf="product?.discount && product?.discount > 0" style="background-color: transparent;color: black;font-weight: bold;font-size: 1.2em;
                      top: -5px;right: -25px" class="{{(product?.soldOut)?'sold-out':'' }}">
                    <i class="fa fa-certificate" style="color: yellow;font-size: 2.8em;"></i></em>

                  <em *ngIf="product?.discount && product?.discount > 0" class="{{(product?.soldOut)?'sold-out':'' }}"
                    style="background-color: transparent;color: black;font-weight: bold;font-size: 1.2em;top: 8px;right: -22px;">
                    -{{ product?.discount }}%</em>

                  <em *ngIf="product?.soldOut"
                    style="background-color: transparent;color: black;font-weight: bold;font-size: 1.2em;top: 38px;right: 5px;"
                    class="{{(product?.discount && product?.discount > 0)?'line-through':''}}">
                    <img src="../../../assets/icon/agotado.png" class="responsive-image preload-image round-medium"
                      alt="img">
                  </em>

                  <table style="font-size: 1em;margin-bottom:0px; border: none;">
                    <tr>
                      <td class="menuLeft" style="text-align: center;padding: 65px 2px 0px 2px;margin-top: 0px">
                        <a *ngIf="isAdmin" (click)="openBarCodeGenerator(product)"
                          class="bg-highlight button button-round-small shadow-small button-sm button-s"
                          style="margin-bottom: 5px;width: 100%;">QR</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="menuLeft" style="text-align: center;padding: 0px 2px 0px 2px;margin-top: 0px">
                        <a *ngIf="isAdmin" (click)="openProductUpdatePage(product)"
                          class="bg-highlight button button-round-small shadow-small button-sm button-s"
                          style="margin-bottom: 5px;width: 100%;">Editar</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="menuLeft" style="text-align: center;padding: 0px 2px 0px 2px;margin-top: 0px">
                        <a *ngIf="isAdmin" (click)="presentDeleteProductPrompt(product)"
                          class="bg-highlight button button-round-small shadow-small button-sm button-s"
                          style="margin-bottom: 5px;width: 100%;">Eliminar</a>
                      </td>
                    </tr>
                    <tr *ngIf="isAdmin">
                      <td class="menuLeft" style="padding: 0px 0px 0px 0px;">
                        <a (click)="openProductInventoryPage(product)" *ngIf="isAdmin"
                          class="bg-highlight button button-round-small shadow-small button-sm button-s"
                          style="margin-bottom: 5px;width: 100%;">Bodega</a>
                      </td>
                    </tr>
                    <tr *ngIf="isAdmin">
                      <td class="menuLeft" style="padding: 10px 0px 0px 0px;">
                        <!-- <ion-list *ngIf="isAdmin" style="width: 100%;">
                          <ion-item style="text-align: -webkit-left;"> -->
                        <ion-toggle (ionChange)="productFeatured($event, product)" mode="ios" slot="start"
                          checked="{{ product.isFeatured?true:false }}" name="blueberry"></ion-toggle>
                        <ion-label style="color: gray;font-size: small;padding-left: 5px;">Destacado</ion-label>

                        <!-- </ion-item>
                        </ion-list> -->
                      </td>
                    </tr>
                    <tr>
                      <td class="menuLeft" style="padding-bottom: 20px;">
                        <strong style="height: 35px;padding-top: 10px;"
                          class="strong-store {{(product?.soldOut)?'sold-out':'' }}">
                          {{((product?.name.length<=30)?product?.name:product?.name.substring(0, 30) + '...'
                            )}}</strong>
                      </td>
                    </tr>
                    <tr *ngIf="!isAdmin">
                      <td class="menuLeft" style="text-align: center;">
                        <a (click)="addToCart($event, product)"
                          class="bg-highlight button button-round-small shadow-small button-sm button-s {{(product?.soldOut)?'sold-out':'' }}"
                          style="width: 100%;"> <i class="fa fa-shopping-cart add-button"
                            style="color: white;padding-right: 5px;"></i>LO
                          QUIERO!</a>
                      </td>
                    </tr>
                  </table>
                </a>
              </div>
            </div>
            <div class="clear"></div>
            <div *ngIf="!searchingProducts" style="margin: 10px;">
              <a (click)="openSelectCategories()" class="center-text bottom-40">Buscar Mas...</a>
            </div>
          </div>

          <div class="footer" style="box-shadow:none;padding: 0px 30px 10px 30px;">
            <div class="user-list-left" style="text-align: -webkit-center;padding-bottom: 15px;">
              <img src="../assets/icon/favicon.png" alt="img" style="width: 80px;">
            </div>
            <a class="footer-title"><span
                class="color-highlight">{{appService?._appInfo?.name1}}</span>{{appService?._appInfo?.name2}}</a>
            <p class="footer-text" style="padding-top: 10px;margin-bottom: 15px;">Tu Centro
              Comercial Virtual</p>
            <div class="footer-socials" style="padding-left: 24px;">
              <a href="{{ appService._appInfo?.facebook }}" class="round-tiny shadow-medium bg-facebook"><i
                  class="fab fa-facebook-f"></i></a>
              <a href="tel:{{ appService._appInfo?.phone }}" class="round-tiny shadow-medium bg-phone"><i
                  class="fa fa-phone"></i></a>
              <a href="https://wa.me/57{{ appService._appInfo?.whatsapp }}"
                class="icon icon-round icon-s bg-whatsapp"><i class="fab fa-whatsapp"></i></a>
              <a data-menu="menu-share" (click)="shareApp($event)" class="round-tiny shadow-medium bg-red2-dark"><i
                  class="fa fa-share-alt"></i></a>
              <div class="clear"></div>
            </div>

            <p class="footer-copyright">Copyright &copy; Maothinks <span class="copyright-year">2021</span>.
              All Rights
              Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>