<div class="profile-popover">
  <div class="profile-header">
  </div>
  <div class="profile-header-clear" style="height: 30px;margin: 0px 0px 0px 0px;">
  </div>
  <div class="profile-body" style="margin: 0px 5px;">
    <i (click)="close()" class="fa fa-times-circle"
      style="right: 0px;position: absolute;top: 0;font-size: 2em;padding: 2px;"></i>

    <a style="background-color: white; color: black;"
      class="profile-button button shadow-large button-m button-round uppercase bolder button-center-large">Dirección</a>
    <form [formGroup]="form">
      <div class="content header-clear-small" style="margin: 0px 0px 0px 0px;">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="floating" style="color: gray;">Nombre <b style="color: red;">(*)</b></ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color: gray;">Apellido <b style="color: red;">(*)</b></ion-label>
            <ion-input formControlName="lastName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color: gray;">Tel <b style="color: red;">(*)</b></ion-label>
            <ion-input type="number" formControlName="phone1"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color: gray;">Tel 2</ion-label>
            <ion-input type="number" formControlName="phone2"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color: gray;">País <b style="color: red;">(*)</b></ion-label>
            <ion-input formControlName="country"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color: gray;">Ciudad <b style="color: red;">(*)</b></ion-label>
            <ion-input formControlName="city"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color: gray;">Dirección <b style="color: red;">(*)</b></ion-label>
            <ion-input formControlName="address"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color: gray;">Código Postal</ion-label>
            <ion-input formControlName="postalCode"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="color: gray;">Agrega mas detalles <small style="color: gray;">
                ({{this.form.get('description').value.length}}/250)</small></ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
          </ion-item>
        </ion-list>

        <div *ngIf="(!form.valid && form.touched)" style="margin: 15px;"
          class="content content-box round-small shadow-large">
          <p style="color: red;font-size: 1.3em;" *ngIf="form.get('name').errors">
            <span *ngIf="form.get('name').hasError('required')">Nombre es requerido</span>
            <span *ngIf="form.get('name').hasError('maxlength')">Nombre debe ser máximo de 50 caracteres</span>
          </p>
          <p style="color: red;font-size: 1.3em;" *ngIf="form.get('lastName').errors">
            <span *ngIf="form.get('lastName').hasError('required')">Apellido es requerido</span>
            <span *ngIf="form.get('lastName').hasError('maxlength')">Appellido debe ser máximo de 50 caracteres</span>
          </p>
          <p style="color: red;font-size: 1.3em;" *ngIf="form.get('phone1').errors">
            <span *ngIf="form.get('phone1').hasError('required')">Tel es requerido</span>
            <span *ngIf="form.get('phone1').hasError('max')">Tel debe ser máximo de 15 caracteres</span>
          </p>
          <p style="color: red;font-size: 1.3em;" *ngIf="form.get('phone2').errors">
            <span *ngIf="form.get('phone2').hasError('max')">Tel 2 debe ser máximo de 15 caracteres</span>
          </p>
          <p style="color: red;font-size: 1.3em;" *ngIf="form.get('country').errors">
            <span *ngIf="form.get('country').hasError('required')">País es requerido</span>
            <span *ngIf="form.get('country').hasError('maxlength')">País debe ser máximo de 50 caracteres</span>
          </p>
          <p style="color: red;font-size: 1.3em;" *ngIf="form.get('city').errors">
            <span *ngIf="form.get('city').hasError('required')">Ciudad es requerido</span>
            <span *ngIf="form.get('city').hasError('maxlength')">Ciudad debe ser máximo de 50 caracteres</span>
          </p>
          <p style="color: red;font-size: 1.3em;" *ngIf="form.get('address').errors">
            <span *ngIf="form.get('address').hasError('required')">Dirección es requerido</span>
            <span *ngIf="form.get('address').hasError('maxlength')">Dirección debe ser máximo de 250 caracteres</span>
          </p>
          <p style="color: red;font-size: 1.3em;" *ngIf="form.get('postalCode').errors">
            <span *ngIf="form.get('postalCode').hasError('maxlength')">Código Postal debe ser máximo de 50 caracteres</span>
          </p>
          <p style="color: red;font-size: 1.3em;" *ngIf="form.get('description').errors">
            <span *ngIf="form.get('description').hasError('maxlength')">Descripción debe ser máximo de 500
              caracteres</span>
          </p>
        </div>
      </div>
    </form>

    <div>
      <a (click)="createAddress()"
          style="background-color: red;color:white;font-size: 15px;font-weight: bold;padding: 12px;height: 50px;margin: 10px 15px 10px 15px;padding-top: 15px;"
          class="button button-round-small shadow-large button-full button-s">ACEPTAR</a>
    </div>
  </div>
</div>