.signin-popover .popover-content {   
    max-width: 390px;
    min-width:390px ;
    background-color: transparent;
    box-shadow: none;
}

.signup-popover .popover-content {   
    max-width: 390px;
    min-width:390px ;
    background-color: transparent; 
    box-shadow: none;
}

.recoverPassword-popover .popover-content {   
    max-width: 410px;
    min-width: 410px ;
    background-color: transparent; 
    box-shadow: none;
}

.toast-cart {
    top: 49px;
}

@media screen and (max-width: 420px) {
    .signin-popover .popover-content {   
        max-width: 90%;
        min-width: 90%;
        background-color: transparent;
        box-shadow: none;
    }
    
    .signup-popover .popover-content {   
        max-width: 90%;
        min-width: 90%;
        background-color: transparent; 
        box-shadow: none;
    }

    .recoverPassword-popover .popover-content {   
        max-width: 90%;
        min-width: 90% ;
        background-color: transparent; 
        box-shadow: none;
    }

    .notification-popover .popover-content {
        max-width: 90%;
        box-shadow: none;
    } 
}

.notification-popover .popover-content {
    width: 300px;
    box-shadow: none;
} 

.cs-popovers .popover-content {   
    width: 90%;
    /* height: 100%;
    background-color: transparent; 
    box-shadow: none; */
}

.cs-video-popover .popover-content {   
    width: 90%;
}

.cs-search-popover .popover-content {   
    width: 90%;
    top:5%!important;
    background-color: transparent; 
    box-shadow: none;
}

@media screen and (min-width: 450px) {
    .cs-popovers .popover-content {   
        width: 450px;
        /* height: 100%;
        background-color: transparent; 
        box-shadow: none; */
    }

    .cs-video-popover .popover-content {   
        width: 450px;
    }   

    .cs-search-popover .popover-content {   
        width: 450px;
        top:5%!important;
        background-color: transparent; 
        box-shadow: none;
    }
}


