<i (click)="close()" class="fa fa-times-circle"
  style="right: 0px;position: absolute;top: 0;font-size: 2em;padding: 2px;"></i>

<h4 class="menuLeft center-text top-20 bolder">Secciones</h4>

<div class="profile-header-clear" style="height: 0px;margin: 0px 0px 0px 0px;"></div>
<div class="profile-body" style="margin: 0px 5px;">

  <table class="table-borders-dark store-product-table top-30"
    style="padding-left: 5px;padding-right: 5px;border: solid 1px rgba(0,0,0,0.08);">
    <tr>
      <td class="menuLeft" colspan="2" style="text-align: -webkit-right;padding-right: 5px;">
        <a (click)="openProductCategoriesCreatePage()" class="button button-round-small button-xs button-full bg-highlight"
          style="color: white;font-size: 10px;text-align: center">Agregar</a>
      </td>
    </tr>
    <tr *ngIf="(subCategories | async)?.length == 0">
      <td class="menuLeft" colspan="2">
        <span style="color: red;">No tienes categorias agregadas</span>
      </td>
    </tr>
    <tr *ngFor="let productCategory of subCategories | async;">
      <td style="vertical-align: top;" class="bold color-theme menuLeft">{{ productCategory.name }}</td>
      <td class="menuLeft" style="width: 130px;vertical-align: top;padding-right: 5px;text-align: right;padding-right: 5px;">
        <a class="icon icon-s icon-round shadow-small menuLeft" (click)="presentDeleteProductCategoryPrompt(productCategory)">
          <i class="fa fa-trash"></i></a>
        <a class="icon icon-s icon-round shadow-small menuLeft" (click)="openProductCategoriesCreatePage(productCategory.id)">
          <i class="fa fa-edit"></i></a>
      </td>
    </tr>
  </table>
</div>