<div class="profile-popover">
  <div class="profile-header">
  </div>
  <div class="profile-header-clear" style="height: 30px;margin: 0px 0px 0px 0px;">
  </div>
  <div class="profile-body" style="margin: 0px 5px;">
    <i (click)="close()" class="fa fa-times-circle"
      style="right: 0px;position: absolute;top: 0;font-size: 2em;padding: 2px;"></i>

    <a style="background-color: white; color: black;"
      class="profile-button button shadow-large button-m button-round uppercase bolder button-center-large">PEDIDOS</a>

    <div class="content" style="margin: 0px 0px 0px 0px;">
      <div class="top-10">
        <table>

          <tr *ngIf="searchingOrders">
            <td colspan="2" style="text-align: center;">
              <div>
                <div class="store-slide-2" *ngFor="let item of [1,2,3,4,5,6]">
                  <a class="store-slide-image">
                    <ion-skeleton-text animated style="height: 50px; top:-10px" class="round-medium">
                    </ion-skeleton-text>
                  </a>
                  <div class="store-slide-title">
                    <strong>
                      <ion-skeleton-text animated style="width: 100%" class="round-medium"></ion-skeleton-text>
                    </strong>
                    <em class="color-gray2-dark">
                      <ion-skeleton-text animated style="width: 100%" class="round-medium"></ion-skeleton-text>
                    </em>
                  </div>
                </div>
              </div>
            </td>
          </tr>

          <tr *ngIf="orderSearchHits == 0 && !searchingOrders">
            <td colspan="2" style="text-align: center;">
              <div class="boxed-text-huge">
                <label style="color: red;padding-top: 20px;font-size: 1.2em;">No se
                  encontraron pedidos</label>
              </div>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <div *ngFor="let order of orders | async" class="{{ !order?'hidden':'' }}">
                <a class="user-group">
                  <div
                    class="user-group-manager {{ order?.status == 1?'border-red1-light':order?.status == 2?'border-green1-light':order?.status == 3?'border-dark2-dark':'' }}"
                    style="border-width: 5px;">
                    <img style="z-index: 9;"
                      (click)="openImageViewer(order?.photoUrl?order?.photoUrl:'../../../assets/icon/no-image.png')"
                      class="shadow-large" src="{{order?.photoUrl?order?.photoUrl:'../../../assets/icon/no-image.png'}}"
                      alt="img">
                    <h4 class="color-theme">{{ order?.userName }}</h4>
                    <span style="font-size: 10px;margin-top: 0px;" class="color-theme bolder">
                      {{order?.dateCreated.toDate() | date:'MMM d, h:mm a' }}</span>
                  </div>
                  <div>

                    <h4
                      class="bolder {{ order?.status == 1?'color-red1-light':order?.status == 2?'color-green1-light':order?.status == 3?'color-dark2-dark':'' }}">
                      Pedido {{ order?.status | orderStatusName }}</h4>
                    <p class="under-heading font-12 bold top-15" style="margin-bottom: 0px;"><b
                        class="font-14 bolder">Ref:</b>{{ order?.ref }}
                    </p>
                    <h4 *ngIf="order?.status != 1" style="font-size: 10px;margin-top: 0px;padding-bottom: 10px;"
                      class="color-theme bolder">
                      Actualizado: {{order?.lastUpdated.toDate() | date:'MMM d, h:mm a' }}</h4>
                    <h6 class="color-theme bolder bottom-0"></h6>
                  </div>
                  <div class="user-group-users">
                    <a *ngIf="order?.status == 1 && isAdmin" (click)='openOrderDetailPage(order.id)'
                      style="color:white;font-size: 12px;font-weight: bold;background-color: red;"
                      class="button button-round-small shadow-large button-full button-s">ATENDER</a>

                    <a *ngIf="order?.status == 1 && !isAdmin" (click)='openOrderDetailPage(order.id)'
                      style="color:white;font-size: 12px;font-weight: bold;background-color: red;"
                      class="button button-round-small shadow-large button-full button-s">VER DETALLE</a>

                    <a *ngIf="order?.status == 2" (click)='openOrderDetailPage(order.id)'
                      style="color:white;font-size: 12px;font-weight: bold;"
                      class="button button-round-small shadow-large button-full button-s bg-gradient-green1">VER
                      DETALLE</a>

                    <a *ngIf="order?.status == 3" (click)='openOrderDetailPage(order.id)'
                      style="color:white;font-size: 12px;font-weight: bold;background-color: black;"
                      class="button button-round-small shadow-large button-full button-s">VER DETALLE</a>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                </a>

                <div class="divider"></div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>