<ion-content>
  <div id="page">
    <div class="page-content header-clear-small">
      <div class="content gallery-view-controls top-40">
        <a href="#" class="gallery-view-1-activate"><i class="fa fa-th"></i></a>
        <a href="#" class="gallery-view-2-activate color-highlight"><i class="fa fa-th-large"></i></a>
        <a href="#" class="gallery-view-3-activate"><i class="fa fa-bars"></i></a>
        <div class="clear"></div>
      </div>

      <div class="content bottom-0">
        <div class="gallery-views gallery-view-2">
          <a class="default-link" data-lightbox="gallery-1" href="../../../assets/images/pictures/10t.jpg"
            title="Vynil and Typerwritter">
            <img src="../../../assets/images/empty.png" data-src="../../../assets/images/pictures/10t.jpg"
              class="preload-image responsive-image" alt="img">
            <div class="caption">
              <h4 class="bottom-0 color-theme">Messy Desk?</h4>
              <p>Some may consider this to be a very messy desk.</p>
              <div class="divider bottom-0"></div>
            </div>
          </a>
          <a class="default-link" data-lightbox="gallery-1" href="../../../assets/images/pictures/11t.jpg"
            title="Fruit Cookie Pie">
            <img src="../../../assets/images/empty.png" data-src="../../../assets/images/pictures/11t.jpg"
              class="preload-image responsive-image" alt="img">
            <div class="caption">
              <h4 class="bottom-0 color-theme">Designers Desk</h4>
              <p>With all the gadgets you'd ever wish for.</p>
              <div class="divider bottom-0"></div>
            </div>
          </a>
          <a class="default-link" data-lightbox="gallery-1" href="../../../assets/images/pictures/28t.jpg"
            title="Plain Cookies and Flour">
            <img src="../../../assets/images/empty.png" data-src="../../../assets/images/pictures/28t.jpg"
              class="preload-image responsive-image" alt="img">
            <div class="caption">
              <h4 class="bottom-0 color-theme">Apple Watch</h4>
              <p>The perfect and small notification device.</p>
              <div class="divider bottom-0"></div>
            </div>
          </a>
          <a class="default-link" data-lightbox="gallery-1" href="../../../assets/images/pictures/18t.jpg"
            title="Pots and Stuff">
            <img src="../../../assets/images/empty.png" data-src="../../../assets/images/pictures/18t.jpg"
              class="preload-image responsive-image" alt="img">
            <div class="caption">
              <h4 class="bottom-0 color-theme">City Landscape</h4>
              <p>It's absolutely gorgeous, we'd love to see it live.</p>
              <div class="divider bottom-0"></div>
            </div>
          </a>
          <a class="default-link" data-lightbox="gallery-1" href="../../../assets/images/pictures/14t.jpg"
            title="Delicious Strawberries">
            <img src="../../../assets/images/empty.png" data-src="../../../assets/images/pictures/14t.jpg"
              class="preload-image responsive-image" alt="img">
            <div class="caption">
              <h4 class="bottom-0 color-theme">Typography and iPhone 5</h4>
              <p>A beautifully captured snap with great contrast.</p>
              <div class="divider bottom-0"></div>
            </div>
          </a>
          <a class="default-link" data-lightbox="gallery-1" href="../../../assets/images/pictures/15t.jpg"
            title="A Beautiful Camera">
            <img src="../../../assets/images/empty.png" data-src="../../../assets/images/pictures/15t.jpg"
              class="preload-image responsive-image" alt="img">
            <div class="caption">
              <h4 class="bottom-0 color-theme">Feather and Paper?</h4>
              <p>Going back to days when things were simplere.</p>
            </div>
          </a>
        </div>
        <div class="clear"></div>
      </div>

      <div class="footer">
        <a href="#" class="footer-title">COPA<span class="color-highlight">CITY</span></a>
        <p class="footer-text">Tu Centro Comercial Virtual</p>
        <div class="footer-socials">
          <a href="#" class="round-tiny shadow-medium bg-facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="round-tiny shadow-medium bg-twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" class="round-tiny shadow-medium bg-phone"><i class="fa fa-phone"></i></a>
          <a href="#" data-menu="menu-share" class="round-tiny shadow-medium bg-red2-dark"><i
              class="fa fa-share-alt"></i></a>
          <a href="#" class="back-to-top round-tiny shadow-medium bg-dark1-light"><i class="fa fa-angle-up"></i></a>
          <div class="clear"></div>
        </div>
        <p class="footer-copyright">Copyright &copy; Enabled <span id="copyright-year">2020</span>. All Rights Reserved.
        </p>
      </div>
    </div>

    <div class="menu-hider"></div>
  </div>
</ion-content>