@import "../../../assets/template/styles/styleTemplate.css";

ion-title a {
    font-size: 18px; color: black; padding-left: 5px;
}

ion-menu-toggle{
    padding-top: 7px;
}

.hidden{
	display: none;
}

.profile-button-store{margin-top:-56px!important;padding-top: 0px;}

.img-profile-stores{
    width:220px;
    border-radius:170px;
    margin:20px auto 30px auto;
    border:solid 5px #FFF;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.20);
  }

  .strong-store {
        font-size: 15px; 
        font-weight: 500;
        height: 50px;
        text-align: center;
      }

@media screen and (min-width: 1180px) {
  #main-menu-large{
    height: 100%;
    width: 250px;
    background-color: white;
    position: fixed;
    top: 56px;
    padding-bottom: 200px;
  }

  #main-menu-large-right {
    height: 100%;
    width: 250px;
    background-color: white;
    position: fixed;
    top: 56px;
    right: 0px;
    padding-bottom: 100px;
  }

  .side-content{
    --background: white;
  }

  .menu-icon-bars{
    display: none;
  }

  .notifications-icon{
    display: none;
  }

  ion-fab {
    right:260px
  }
} 

@media screen and (max-width: 1179px) {
  #main-menu-large, #main-menu-large-right {
    display: none;
  }
}

#badge-cart {
  position: absolute;
  top: 1px;
  right: -6px;
  font-size: 13px;
  padding: 2px;
}

#badge-notifications {
    position: absolute;
    top: 1px;
    right: -6px;
    font-size: 13px;
    padding: 2px;
  }

  .top-m10{
    padding-top: -10px;
  }

  .top-m40{
    padding-top: -40px;
  }

  .chip{
    display: inline-flex;
    flex-direction: row;
    background-color: #e5e5e5;
    border: none;
    cursor: default;
    height: 36px;
    outline: none;
    padding: 0;
    font-size: 14px;
    color: #333333;
    font-family:"Open Sans", sans-serif;
    white-space: nowrap;
    align-items: center;
    border-radius: 16px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
}
.chip-head{
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #32C5D2;
    font-size: 1.25rem;
    flex-shrink: 0;
    align-items: center;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    width: 36px;
    color: #fff;
    height: 36px;
    font-size: 20px;
    margin-right: -4px;
}
.chip-content{
    cursor: inherit;
    display: flex;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
}
.chip-svg{
        color: #999999;
    cursor: pointer;
    height: auto;
    margin: 4px 4px 0 -8px;
  fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}
.chip-svg:hover{
    color: #666666;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:10px;
	right:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}