<div id="page">
  <div class="page-content">
    <ion-list>
      <ion-list-header>
        <ion-toolbar>
          <ion-title>
            <!-- <h5 class="thin center-text">Notificaciones</h5> -->
            <h4 class="bolder center-text">Notificaciones</h4>
          </ion-title>
        </ion-toolbar>
      </ion-list-header>

      <em style="font-size: 15px;"><a (click)="goToNotificationsHistory()"
          style="padding-left: 5px; padding: 10px; cursor: pointer">Ver Historial...</a></em>
      <div class="divider"></div>

      <ion-item *ngIf="(appService.notifications | async)?.length == 0">
        <div class="boxed-text-huge">
          <label style="color: red;font-size: small;">No tienes notificaciones</label>
        </div>
      </ion-item>

      <ion-item-sliding *ngFor="let notification of appService.notifications | async;">
        <ion-item>
          <ion-card>
            <ion-card-header>
            </ion-card-header>
            <ion-card-content style="padding-left: 0px;">
              <label style="text-align: end;padding-top: 10px;padding-bottom: 10px;"><small
                  style="padding-right: 20px;">
                  <em> {{notification.dateCreated.toDate() | date:'dd/MM/yyyy' }} </em> </small>
                <a (click)="markAsReaded(notification)"><i class="fa fa-times-circle"></i></a>
              </label>
              <strong style="font-size: .9em;" (click)="openOrderDetailPage(notification)"> <b>{{ notification.userName
                  }}:</b>
                {{ notification.description }} </strong>
              <em><a class="text-right" style="cursor: pointer;font-size: .9em;"
                  (click)="openOrderDetailPage(notification)">Ver Pedido...</a></em>
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option expandable="true" (click)="markAsReaded(notification)" mode='ios' color="light">Cerrar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <div style="height: 150px;"></div>
    </ion-list>
  </div>
</div>