<ion-list>
  <ion-list-header class="notifications-header">
    <ion-toolbar>
      <ion-title slot="start">
        Notificaciones
      </ion-title>
    </ion-toolbar>
  </ion-list-header>

  <ion-item-divider style="background-color: white;">
    <ion-label style="padding-left: 10px;" slot="start" (click)="goToNotificationsHistory()"><b> <small><a>Ver
            Historial</a></small> </b></ion-label>
  </ion-item-divider>

  <ion-item *ngIf="(appService.notifications | async)?.length == 0">
    <div class="boxed-text-huge" >
      <label style="color: red;font-size: medium;">No tienes notificaciones</label>
    </div>
  </ion-item>

  <ion-item-sliding *ngFor="let notification of appService.notifications | async;">
    <ion-item>
      <ion-card>
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <label style="text-align: end;padding-top: 10px;padding-bottom: 10px;"><small style="padding-right: 20px;">
              <b> {{notification.dateCreated.toDate() | date:'MMM d, h:mm a' }} </b> </small>
            <a (click)="markAsReaded(notification)"><i class="fa fa-times-circle" style="color: black;"></i></a>
          </label>
          <span (click)="openOrderDetailPage(notification)"> <b>{{ notification.userName }}:</b>
            {{ notification.description }} </span>
          <a (click)="openOrderDetailPage(notification)"><b>Ver Pedido</b></a>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option expandable="true" (click)="markAsReaded(notification)" mode='ios' color="light">Cerrar
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>