<div id="store-splash" style="display: none;"></div>
<div id="store-splash-logo" style="display: none;">
  <div class="blog-col-item">
    <a>
      <img id="splash" class="responsive-image preload-image shadow-large round-medium" alt="img" src="{{ image }}">
    </a>
  </div>
</div>

<div id="loading" style="display: none;" ></div>
  <div id="loading-logo" style="display: none;">
    <div class="blog-col-item">
      <div class="boxed-text-huge">
        <p style="font-size: 2em;font-weight: bold; color: white;width: 300px;">COPADOMICILIOS</p>
        <a style="text-align: -webkit-center;">
          <img style="width: 80px;height: 80px;" id="loading-img" class="responsive-image preload-image shadow-large round-medium" alt="img"
            src="../../../assets/icon/loading.gif">
        </a>
      </div>
      
      <div class="boxed-text-huge">
        <p id="loading-message" style="font-size: 1.3em;color: white;padding-top: 30px;">
        </p>
      </div>
    </div>
  </div>