<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <i class="fa fa-times" style="font-size: 1.8em;"></i>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-size: x-large;">
      <a style="color: white;" class="header-title bold"><span style="color: white;padding-left: 10px;">#</span>
        {{ order?.ref }}</a>
      <!-- <span style="padding-left: 5px;font-size: medium;">{{store?.name}}</span> -->
    </ion-title>
  </ion-toolbar>

</ion-header>

<div class="profile-popover">
  <div class="profile-header">
  </div>
  <div class="profile-header-clear" style="height: 0px;margin: 0px 0px 0px 0px;">
  </div>
  <div class="profile-body-no-apply">
    <div id="page">
      <div class="content header-clear-small">
        <label style="padding-bottom: 20px;padding-left: 10px;font-size: 18px;"><b>Vendedor:</b>
          {{vendorName}}</label>
        <label style="padding-bottom: 20px;padding-left: 10px;font-size: 18px;"><b>Estado:</b>
          {{ order?.status | orderStatusName }}</label>
        <label *ngIf="(order && order.messageRejected)"
          style="padding-bottom: 20px;padding-left: 10px;font-size: 18px;"><b>Motivo:</b>
          {{ order?.messageRejected  }}</label>
        <div (click)="openImageViewer(user?.photoUrl?user?.photoUrl:'../../../assets/icon/no-image.png')"
          class="user-list-left" *ngIf="appService.currentUser?.id!=user?.id">
          <img [src]="user?.photoUrl?user?.photoUrl:'../../../assets/icon/no-image.png'" alt="img" class="shadow-small">
          <h4 style="top:-15px">{{user?.name}} </h4>
          <div class="divider" class="top-20"></div>
          <label *ngIf="(order && order.message)" style="padding-bottom: 20px;padding-left: 10px;"><b>Comentario:</b>
            {{ order?.message  }}</label>
          <table style="width: 100%;">
            <tr>
              <td>
                <div class="link-list link-list-3" style="text-align: left;">
                  <a href="tel:{{user?.phone1}}" class="round-small shadow-tiny">
                    <i class="fa fa-phone" style="color: green;"></i>
                    <span style="font-size: 18px;">{{user?.phone1}}</span>
                  </a>
                </div>
              </td>
              <td>
                <div class="link-list link-list-3" style="text-align: left;">
                  <a href="tel:{{user?.phone2}}" class="round-small shadow-tiny">
                    <i class="fa fa-phone" style="color: green;"></i>
                    <span style="font-size: 18px;">{{user?.phone2}}</span>
                  </a>
                </div>
              </td>
            </tr>
          </table>
          <a href="https://wa.me/57{{user?.whatsapp}}" class="next-slide-user"
            style="font-size: 2.5em;top:-15px;height: 40px;font-weight: 100;">
            <i class="fab fa-whatsapp" style="color: green;padding-top: 2px;"></i></a>
        </div>

        <div class="top-30 bottom-30">
          <h4 class="bold color-highlight">Factura</h4>
          <div class="container top-20">
            <div *ngIf="(order?.status == 1) && (appService.currentUser?.id!=user?.id)"
              class="content content-box shadow-large round-small" style="background-color: lightgoldenrodyellow;">
              <p class="bottom-10" style="font-size: 13px;color: black;">
                <b>Nota:</b> Si algún producto en la lista está agotado en tu tienda, puedes dar click al <i
                  style="font-size: 1.5em;" class="fa fa-check-square"> </i> del producto para descartarlo y recalcular
                el Total
              </p>
            </div>
            <table class="table-borders" style="font-size: 18px;">
              <tr>
                <th></th>
                <th style="text-align: left; padding-left: 5px;">Producto</th>
                <th style="width: 20px;">#</th>
                <th>Total</th>
              </tr>
              <tr *ngFor="let cartProduct of cartProducts | async">
                <td style="text-align: left; padding-left: 5px;vertical-align: top">
                  <ion-checkbox *ngIf="!cartProduct.product?.isGift"
                    disabled="{{(order?.status == 1 && appService.currentUser?.id!=user?.id)?'false':'true'}}"
                    (ionChange)="checkProduct($event, cartProduct)" checked="{{cartProduct.checked}}"
                    style="width: 30px; height: 30px;"></ion-checkbox>
                </td>
                <td style="text-align: left; padding-left: 5px;" class="{{(!cartProduct.checked)?'unchecked':''}}">
                  {{cartProduct.product.name}} <span *ngFor="let property of cartProduct.propertiesSelection;"
                    style="font-size: .7em;font-weight: 700;color: blue;">, {{property.propertyName }}:
                    {{property.propertyOptionName }} </span><small style="font-size: 12px;font-weight: 900;"
                    *ngIf="!cartProduct.product?.isGift">,
                    ({{ cartService.getProductSubTotalUnity(cartProduct) | currency: 'USD' : 'symbol' : '1.0-0'}})</small>
                  <small *ngIf="cartProduct.product?.discount && cartProduct.product?.discount > 0"
                    style="font-size: 12px;font-weight: 700;color: black;background-color: yellow;">
                    (-{{cartProduct.product.discount}}%) </small>

                  <span *ngIf="cartProduct.product?.isGift"
                    style="font-size: .7em;font-weight: 700;color: black;background-color: yellow;">🎁 REGALO!
                    🥳🎉</span>
                </td>
                <td class="{{(!cartProduct.checked)?'unchecked':''}}">{{cartProduct.quantity}}</td>
                <td class="color-green1-dark {{(!cartProduct.checked)?'unchecked':''}}">
                  {{ ((!cartProduct.product?.isGift)?(cartService.getProductTotal(cartProduct)):0) | currency: 'USD' : 'symbol' : '1.0-0'}}
                </td>
              </tr>
              <tr *ngIf="storeCoupon">
                <td colspan="3"
                  style="text-align: left; padding-left: 5px;vertical-align: top;background-color: yellow;">
                  <strong style="color: black">Cupón
                    <small style="color: black; background-color: yellow;">(-{{storeCoupon.discount}}%)</small>
                  </strong>
                </td>
                <td style="vertical-align: top; text-align: right;background-color: yellow;">
                  <span style="color: black;">
                    -{{ ((storeCoupon)?(cartService.getTotalDetail(store?.deliveryPrice) * (storeCoupon.discount/100)):0)  | currency: 'USD' : 'symbol' : '1.0-0' }}</span>
                </td>
              </tr>
            </table>

            <div style="margin: 10px 15px 5px 15px;font-size: 18px;">
              <div class="store-cart-total">
                <strong>Envío</strong>
                <span>{{ (shippingMethod?shippingMethod.price:0) | currency: 'USD' : 'symbol' : '1.0-0'}}</span>
                <div class="clear"></div>
              </div>
              <div class="store-cart-total">
                <strong class="color-highlight">Ahorro</strong>
                <span
                  class="color-highlight">{{ cartService.getDiscountDetail() + ((storeCoupon)?(cartService.getTotalDetail(store?.deliveryPrice) * (storeCoupon.discount/100)):0)  | currency: 'USD' : 'symbol' : '1.0-0' }}</span>
                <div class="clear"></div>
              </div>
              <div class="store-cart-total">
                <strong style="color: red;">IVA <small>(Incluido)</small></strong>
                <span>{{ ((cartService.getTotalDetail(store?.deliveryPrice) - ((storeCoupon)?(cartService.getTotalDetail(store?.deliveryPrice) * (storeCoupon.discount/100)):0)) * (appService._appInfo.tax/100 )) | currency: 'USD' : 'symbol' : '1.0-0' }}</span>
                <div class="clear"></div>
              </div>
              <div class="divider bg-green1-light opacity-350"></div>
              <div class="store-cart-total bottom-20" style="font-size: 25px;">
                <strong class="uppercase bold">Total</strong>
                <span
                  class="uppercase bold">{{(cartService.getTotalDetail(store?.deliveryPrice)) + ((shippingMethod?shippingMethod.price:0)) - ((storeCoupon)?(cartService.getTotalDetail(store?.deliveryPrice) * (storeCoupon.discount/100)):0) | currency: 'USD' : 'symbol' : '1.0-0' }}</span>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="top-50 bottom-30" style="margin: 10px;">

          <h4 class="bold color-highlight">Metodo de Pago</h4>
          <div class="container">
            <table class="table-borders-dark store-product-table top-20 bottom-20"
              style="border: solid 1px rgba(0,0,0,0.08);">
              <tr>
                <td colspan="2" style="vertical-align: top;padding-left: 0px;">
                  <h4 class="bold" style="color: black;margin-top: 0px;font-size: 1.3em;">{{paymentMethod?.name}}</h4>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top;" class="bold color-theme">
                  Descripción
                </td>
                <td style="vertical-align: top;">
                  <div>
                    {{paymentMethod?.description}}
                    <br />
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div *ngIf="shippingMethod" class="top-20 bottom-20" style="margin: 10px;">

          <h4 class="bold color-highlight">Método de Envío</h4>
          <div class="container">
            <table class="table-borders-dark store-product-table top-20 bottom-20"
              style="border: solid 1px rgba(0,0,0,0.08);">
              <tr>
                <td colspan="2" style="vertical-align: top;padding-left: 0px;">
                  <h4 class="bold" style="color: black;margin-top: 0px;font-size: 1.3em;">{{shippingMethod?.name}}</h4>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top;" class="bold color-theme">
                  Valor
                </td>
                <td style="vertical-align: top;">
                  <div>
                    {{shippingMethod?.price | currency: 'USD' : 'symbol' : '1.0-0'}}
                    <br />
                  </div>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top;" class="bold color-theme">
                  Tiempo de entrega
                </td>
                <td style="vertical-align: top;">
                  <div>
                    {{shippingMethod?.limitDays}} dias.
                    <br />
                  </div>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top;" class="bold color-theme">
                  Descripción
                </td>
                <td style="vertical-align: top;">
                  <div>
                    {{shippingMethod?.description}}
                    <br />
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div *ngFor="let address of addresses | async" class="top-20 bottom-50" style="margin: 10px;">

          <h4 class="bold color-highlight">Dirección de Envío</h4>
          <div class="container">
            <table class="table-borders-dark store-product-table top-20 bottom-20"
              style="border: solid 1px rgba(0,0,0,0.08);">
              <tr>
                <td style="vertical-align: top;" class="bold color-theme">
                  Nombre
                </td>
                <td style="vertical-align: top;">
                  <div>
                    {{address?.name}}
                    <br />
                  </div>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top;" class="bold color-theme">
                  Apellido
                </td>
                <td style="vertical-align: top;">
                  <div>
                    {{address?.lastName}}
                    <br />
                  </div>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top;" class="bold color-theme">
                  Tel 1
                </td>
                <td style="vertical-align: top;">
                  <div>
                    {{address?.phone1}}
                    <br />
                  </div>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top;" class="bold color-theme">
                  Tel 2
                </td>
                <td style="vertical-align: top;">
                  <div>
                    {{address?.phone2}}
                    <br />
                  </div>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top;" class="bold color-theme">
                  País
                </td>
                <td style="vertical-align: top;">
                  <div>
                    {{address?.country}}
                    <br />
                  </div>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top;" class="bold color-theme">
                  Ciudad
                </td>
                <td style="vertical-align: top;">
                  <div>
                    {{address?.city}}
                    <br />
                  </div>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top;" class="bold color-theme">
                  Dirección
                </td>
                <td style="vertical-align: top;">
                  <div>
                    {{address?.address}}
                    <br />
                  </div>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top;" class="bold color-theme">
                  Código Postal
                </td>
                <td style="vertical-align: top;">
                  <div>
                    {{address?.postalCode}}
                    <br />
                  </div>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top;" class="bold color-theme">
                  Descripción
                </td>
                <td style="vertical-align: top;">
                  <div>
                    {{address?.description}}
                    <br />
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <!-- <div style="background-color: red;" class="divider opacity-350"></div> -->

        <ion-grid style="padding-left: 5px; padding-right: 5px;padding-bottom: 5px;">
          <ion-row>
            <ion-col>
              <a *ngIf="(order?.status == 1 && appService.currentUser?.id!=user?.id)" (click)="openMessage($event)"
                style="color:white;font-size: 15px;font-weight: bold;padding: 12px;margin: 10px 15px 10px 15px;"
                class="button bg-black button-round-small shadow-large button-full button-s">Rechazar Pedido</a>
            </ion-col>
            <ion-col>
              <a *ngIf="(order?.status == 1  && appService.currentUser?.id!=user?.id)"
                (click)="openMessageSendToClient($event)"
                style="color:white;font-size: 15px;font-weight: bold;padding: 12px;margin: 10px 15px 10px 15px;"
                class="button bg-green1-dark button-round-small shadow-large button-full button-s">Confirmar Pedido</a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</div>